## Batting df

In [2]:
import pandas as pd
import numpy as np

# Load the dataset
file_path = r"C:\Users\mayur\Downloads\IPL 2024 data.xlsx"
ipl_data = pd.read_excel(file_path)

#dropping unneccesary column
ipl_data.drop(['other_player_dismissed','other_wicket_type'],axis=1,inplace=True)

#ipl_data['player_dismissed']= ipl_data['player_dismissed'].fillna(np.nan,inplace=True)
ipl_data['wicket_type']= ipl_data['wicket_type'].fillna(np.nan,inplace=True)

# Ensure 'noballs' and 'wides' columns are numeric
ipl_data['noballs'] = pd.to_numeric(ipl_data['noballs'], errors='coerce').fillna(0).astype(int)
ipl_data['wides'] = pd.to_numeric(ipl_data['wides'], errors='coerce').fillna(0).astype(int)

#Overall runs
ipl_data['total_runs'] = ipl_data['runs_off_bat'] + ipl_data['extras']

# Group data by batting team
grouped = ipl_data.groupby('batting_team')

# Initialize an empty DataFrame for the batting statistics
batting_stats = pd.DataFrame()

# Calculate the required statistics for each team
batting_stats['Team'] = grouped['batting_team'].first()
batting_stats['Matches'] = grouped['match_id'].nunique()

# Correct calculation for Innings: count the unique occurrences of batting_team and innings
batting_stats['Innings'] = ipl_data.groupby(['batting_team', 'match_id'])['innings'].nunique().groupby('batting_team').sum()

batting_stats['RunsScored'] = grouped['runs_off_bat'].sum()

# Calculate BallsFaced excluding no balls and wides
valid_balls = ipl_data[(ipl_data['noballs'] == 0) & (ipl_data['wides'] == 0)]
balls_faced = valid_balls.groupby('batting_team')['ball'].count()
batting_stats['BallsFaced'] = balls_faced

batting_stats['Outs'] = ipl_data[ipl_data['player_dismissed']!=np.nan].groupby('batting_team')['player_dismissed'].count()
batting_stats['Average'] = round(batting_stats['RunsScored'] / batting_stats['Outs'],2)
batting_stats['StrikeRate'] = round((batting_stats['RunsScored'] / batting_stats['BallsFaced']) * 100,2)

# Calculate the total number of fours and sixes
fours = ipl_data[ipl_data['runs_off_bat'] == 4].groupby('batting_team').size()
sixes = ipl_data[ipl_data['runs_off_bat'] == 6].groupby('batting_team').size()
batting_stats['4s'] = fours
batting_stats['6s'] = sixes

# Replace NaN with 0 for teams that have no fours or sixes
batting_stats['4s'].fillna(0, inplace=True)
batting_stats['6s'].fillna(0, inplace=True)

# Calculate the total number of dot balls
dot_balls = ipl_data[(ipl_data['runs_off_bat'] == 0) & (ipl_data['wides'] == 0)].groupby('batting_team').size()
batting_stats['DotBalls'] = dot_balls

# Replace NaN with 0 for teams that have no dot balls
batting_stats['DotBalls'].fillna(0, inplace=True)

# Calculate the highest team score in a single innings
team_scores = ipl_data.groupby(['batting_team', 'match_id'])['total_runs'].sum().reset_index()
highest_team_scores = team_scores.groupby('batting_team')['total_runs'].max().reset_index()
highest_team_scores.columns = ['batting_team', 'HighestScore']

# Merge the highest team scores with the batting_stats DataFrame
batting_stats = batting_stats.merge(highest_team_scores, on='batting_team', how='left')

batting_stats.drop(['batting_team'],axis=1,inplace=True)

# Runs of Boundaries
batting_stats['RunsInBoundaries']=(batting_stats['4s']*4)+(batting_stats['6s']*6)
#BoundaryRuns%
batting_stats['BoundaryRuns%']=round(batting_stats['RunsInBoundaries']*100/batting_stats['RunsScored'],2)

#Dots%
batting_stats['Dots%']=round(batting_stats['DotBalls']*100/batting_stats['BallsFaced'],2)

#balls/boundary
num_boundaries=batting_stats['4s']+batting_stats['6s']
batting_stats['balls/boundary']=round(batting_stats['BallsFaced']/num_boundaries,2)

#balls/dismissal
batting_stats['balls/dismissal']=round(batting_stats['BallsFaced']/batting_stats['Outs'],2)

#StrikeRotation%
batting_stats['StrikeRotation%']= 100-batting_stats['BoundaryRuns%']

# Display the batting_stats DataFrame
print(batting_stats)

                          Team  Matches  Innings  RunsScored  BallsFaced  \
0          Chennai Super Kings       14       14        2405        1648
1               Delhi Capitals       14       14        2465        1576
2               Gujarat Titans       12       12        1934        1405
3        Kolkata Knight Riders       14       14        2481        1494
4         Lucknow Super Giants       14       14        2350        1644
5               Mumbai Indians       14       14        2422        1606
6                 Punjab Kings       14       14        2372        1624
7             Rajasthan Royals       15       15        2533        1747
8  Royal Challengers Bengaluru       15       15        2789        1732
9          Sunrisers Hyderabad       16       16        2906        1823

   Outs  Average  StrikeRate   4s   6s  DotBalls  HighestScore  \
0    77    31.23      145.93  209  107       533           212
1    94    26.22      156.41  229  135       574           257
2    79    24.48      137.65  183   68       481           231
3    76    32.64      166.06  238  141       538           272
4    84    27.98      142.94  206  102       557           214
5    96    25.23      150.81  215  133       603           247
6    92    25.78      146.06  213  120       595           262
7    81    31.27      144.99  236  112       611           224
8    99    28.17      161.03  229  165       571           262
9   105    27.68      159.41  217  178       603           287

   RunsInBoundaries  BoundaryRuns%  Dots%  balls/boundary  balls/dismissal  \
0              1478          61.46  32.34            5.22            21.40
1              1726          70.02  36.42            4.33            16.77
2              1140          58.95  34.23            5.60            17.78
3              1798          72.47  36.01            3.94            19.66
4              1436          61.11  33.88            5.34            19.57
5              1658          68.46  37.55            4.61            16.73
6              1572          66.27  36.64            4.88            17.65
7              1616          63.80  34.97            5.02            21.57
8              1906          68.34  32.97            4.40            17.49
9              1936          66.62  33.08            4.62            17.36

   StrikeRotation%
0            38.54
1            29.98
2            41.05
3            27.53
4            38.89
5            31.54
6            33.73
7            36.20
8            31.66
9            33.38

In [3]:
batting_stats

,Team,Matches,Innings,RunsScored,BallsFaced,Outs,Average,StrikeRate,4s,6s,DotBalls,HighestScore,RunsInBoundaries,BoundaryRuns%,Dots%,balls/boundary,balls/dismissal,StrikeRotation%
0,Chennai Super Kings,14,14,2405,1648,77,31.23,145.93,209,107,533,212,1478,61.46,32.34,5.22,21.40,38.54
1,Delhi Capitals,14,14,2465,1576,94,26.22,156.41,229,135,574,257,1726,70.02,36.42,4.33,16.77,29.98
2,Gujarat Titans,12,12,1934,1405,79,24.48,137.65,183,68,481,231,1140,58.95,34.23,5.60,17.78,41.05
3,Kolkata Knight Riders,14,14,2481,1494,76,32.64,166.06,238,141,538,272,1798,72.47,36.01,3.94,19.66,27.53
4,Lucknow Super Giants,14,14,2350,1644,84,27.98,142.94,206,102,557,214,1436,61.11,33.88,5.34,19.57,38.89
5,Mumbai Indians,14,14,2422,1606,96,25.23,150.81,215,133,603,247,1658,68.46,37.55,4.61,16.73,31.54
6,Punjab Kings,14,14,2372,1624,92,25.78,146.06,213,120,595,262,1572,66.27,36.64,4.88,17.65,33.73
7,Rajasthan Royals,15,15,2533,1747,81,31.27,144.99,236,112,611,224,1616,63.80,34.97,5.02,21.57,36.20
8,Royal Challengers Bengaluru,15,15,2789,1732,99,28.17,161.03,229,165,571,262,1906,68.34,32.97,4.40,17.49,31.66
9,Sunrisers Hyderabad,16,16,2906,1823,105,27.68,159.41,217,178,603,287,1936,66.62,33.08,4.62,17.36,33.38

In [6]:
batting_stats.to_csv('batting_stats.csv',index=False)

## Bowling df

In [2]:
import pandas as pd
import numpy as np

# Load the dataset
file_path = r"C:\Users\mayur\Downloads\IPL 2024 data.xlsx"
ipl_data = pd.read_excel(file_path)

#dropping unneccesary column
ipl_data.drop(['other_player_dismissed','other_wicket_type'],axis=1,inplace=True)

#ipl_data['player_dismissed']= ipl_data['player_dismissed'].fillna(np.nan,inplace=True)
#ipl_data['wicket_type']= ipl_data['wicket_type'].fillna(np.nan,inplace=True)

# Ensure relevant columns are numeric
ipl_data['noballs'] = pd.to_numeric(ipl_data['noballs'], errors='coerce').fillna(0).astype(int)
ipl_data['wides'] = pd.to_numeric(ipl_data['wides'], errors='coerce').fillna(0).astype(int)
ipl_data['runs_off_bat'] = pd.to_numeric(ipl_data['runs_off_bat'], errors='coerce').fillna(0).astype(int)
ipl_data['extras'] = pd.to_numeric(ipl_data['extras'], errors='coerce').fillna(0).astype(int)
ipl_data['player_dismissed'] = ipl_data['player_dismissed'].notnull().astype(int)
ipl_data['byes'] = pd.to_numeric(ipl_data['byes'], errors='coerce').fillna(0).astype(int)
ipl_data['legbyes'] = pd.to_numeric(ipl_data['legbyes'], errors='coerce').fillna(0).astype(int)

# Group data by bowling team
grouped = ipl_data.groupby('bowling_team')

# Initialize an empty DataFrame for the bowling statistics
bowling_stats = pd.DataFrame()

# Calculate the required statistics for each team
bowling_stats['Team'] = grouped['bowling_team'].first()
bowling_stats['Matches'] = grouped['match_id'].nunique()

# Correct calculation for Innings: count the unique occurrences of bowling_team and innings
bowling_stats['Innings'] = ipl_data.groupby(['bowling_team', 'match_id'])['innings'].nunique().groupby('bowling_team').sum()

# Calculate runs conceded
bowling_stats['RunsConceded'] = grouped['runs_off_bat'].sum() + grouped['extras'].sum()

# Calculate balls bowled excluding no balls and wides
valid_balls = ipl_data[(ipl_data['noballs'] == 0) & (ipl_data['wides'] == 0)]
balls_bowled = valid_balls.groupby('bowling_team')['ball'].count()
bowling_stats['BallsBowled'] = balls_bowled

# Calculate wickets taken
bowling_stats['WicketsTaken'] = grouped['player_dismissed'].sum()

# Calculate economy rate
bowling_stats['Economy'] = round((bowling_stats['RunsConceded'] / bowling_stats['BallsBowled']) * 6,2)

# Calculate bowling average and handle division by zero
bowling_stats['Average'] = round(bowling_stats['RunsConceded'] / bowling_stats['WicketsTaken'],2)
bowling_stats['Average'].replace([float('inf'), -float('inf')], float('nan'), inplace=True)

# Calculate strike rate and handle division by zero
bowling_stats['StrikeRate'] = round(bowling_stats['BallsBowled'] / bowling_stats['WicketsTaken'],2)
bowling_stats['StrikeRate'].replace([float('inf'), -float('inf')], float('nan'), inplace=True)

# Initialize columns for best bowling innings (BBI), 4W, 6W
bowling_stats['BBI'] = grouped.apply(lambda x: x.groupby(['match_id', 'innings'])['player_dismissed'].sum().max())
bowling_stats['10W'] = grouped.apply(lambda x: (x.groupby(['match_id', 'innings'])['player_dismissed'].sum() >= 10).sum())


# Calculate the total number of fours and sixes conceded
fours_conceded = ipl_data[ipl_data['runs_off_bat'] == 4].groupby('bowling_team').size()
sixes_conceded = ipl_data[ipl_data['runs_off_bat'] == 6].groupby('bowling_team').size()
bowling_stats['4s'] = fours_conceded
bowling_stats['6s'] = sixes_conceded

# Replace NaN with 0 for teams that have no fours or sixes conceded
bowling_stats['4s'].fillna(0, inplace=True)
bowling_stats['6s'].fillna(0, inplace=True)

# Calculate the total number of dot balls (including byes and legbyes)
dot_balls_conceded = ipl_data[(ipl_data['runs_off_bat'] == 0) & 
                              (ipl_data['wides'] == 0)].groupby('bowling_team').size()
bowling_stats['Dots'] = dot_balls_conceded

# Replace NaN with 0 for teams that have no dot balls conceded
bowling_stats['Dots'].fillna(0, inplace=True)

bowling_stats.drop(['Team'],axis=1,inplace=True)

# Runs of Boundaries
bowling_stats['RunsInBoundaries']=(bowling_stats['4s']*4)+(bowling_stats['6s']*6)
#BoundaryRuns%
bowling_stats['BoundaryRuns%']=round(bowling_stats['RunsInBoundaries']*100/bowling_stats['RunsConceded'],2)

#Dots%
bowling_stats['Dots%']=round(bowling_stats['Dots']*100/bowling_stats['BallsBowled'],2)

#balls/boundary
num_boundaries=bowling_stats['4s']+bowling_stats['6s']
bowling_stats['balls/boundary']=round(bowling_stats['BallsBowled']/num_boundaries,2)

#balls/dismissal
bowling_stats['balls/dismissal']=round(bowling_stats['BallsBowled']/bowling_stats['WicketsTaken'],2)

#StrikeRotation%
bowling_stats['StrikeRotation%']= 100-bowling_stats['BoundaryRuns%']

# Display the bowling_stats DataFrame
print(bowling_stats)

                             Matches  Innings  RunsConceded  BallsBowled  \
bowling_team
Chennai Super Kings               14       14          2415         1640
Delhi Capitals                    14       14          2762         1640
Gujarat Titans                    12       12          2101         1310
Kolkata Knight Riders             14       14          2407         1576
Lucknow Super Giants              14       14          2521         1566
Mumbai Indians                    14       14          2660         1611
Punjab Kings                      14       14          2612         1665
Rajasthan Royals                  15       15          2657         1783
Royal Challengers Bengaluru       15       15          2820         1709
Sunrisers Hyderabad               16       16          3016         1799

                             WicketsTaken  Economy  Average  StrikeRate  BBI  \
bowling_team
Chennai Super Kings                    79     8.84    30.57       20.76   10
Delhi Capitals                         99    10.10    27.90       16.57   10
Gujarat Titans                         71     9.62    29.59       18.45   10
Kolkata Knight Riders                 110     9.16    21.88       14.33   10
Lucknow Super Giants                   71     9.66    35.51       22.06   10
Mumbai Indians                         85     9.91    31.29       18.95   10
Punjab Kings                          101     9.41    25.86       16.49    9
Rajasthan Royals                       96     8.94    27.68       18.57    9
Royal Challengers Bengaluru            88     9.90    32.05       19.42   10
Sunrisers Hyderabad                    83    10.06    36.34       21.67   10

                             10W   4s   6s  Dots  RunsInBoundaries  \
bowling_team
Chennai Super Kings            1  198  103   582              1410
Delhi Capitals                 1  232  144   560              1792
Gujarat Titans                 1  174  109   452              1350
Kolkata Knight Riders          6  184  134   629              1540
Lucknow Super Giants           2  216  123   553              1602
Mumbai Indians                 2  217  136   559              1684
Punjab Kings                   0  230  114   570              1604
Rajasthan Royals               0  220  109   593              1534
Royal Challengers Bengaluru    3  239  143   585              1814
Sunrisers Hyderabad            1  265  146   583              1936

                             BoundaryRuns%  Dots%  balls/boundary  \
bowling_team
Chennai Super Kings                  58.39  35.49            5.45
Delhi Capitals                       64.88  34.15            4.36
Gujarat Titans                       64.26  34.50            4.63
Kolkata Knight Riders                63.98  39.91            4.96
Lucknow Super Giants                 63.55  35.31            4.62
Mumbai Indians                       63.31  34.70            4.56
Punjab Kings                         61.41  34.23            4.84
Rajasthan Royals                     57.73  33.26            5.42
Royal Challengers Bengaluru          64.33  34.23            4.47
Sunrisers Hyderabad                  64.19  32.41            4.38

                             balls/dismissal  StrikeRotation%
bowling_team
Chennai Super Kings                    20.76            41.61
Delhi Capitals                         16.57            35.12
Gujarat Titans                         18.45            35.74
Kolkata Knight Riders                  14.33            36.02
Lucknow Super Giants                   22.06            36.45
Mumbai Indians                         18.95            36.69
Punjab Kings                           16.49            38.59
Rajasthan Royals                       18.57            42.27
Royal Challengers Bengaluru            19.42            35.67
Sunrisers Hyderabad                    21.67            35.81

In [3]:
bowling_stats

,Matches,Innings,RunsConceded,BallsBowled,WicketsTaken,Economy,Average,StrikeRate,BBI,10W,4s,6s,Dots,RunsInBoundaries,BoundaryRuns%,Dots%,balls/boundary,balls/dismissal,StrikeRotation%
bowling_team,,,,,,,,,,,,,,,,,,,
Chennai Super Kings,14,14,2415,1640,79,8.84,30.57,20.76,10,1,198,103,582,1410,58.39,35.49,5.45,20.76,41.61
Delhi Capitals,14,14,2762,1640,99,10.10,27.90,16.57,10,1,232,144,560,1792,64.88,34.15,4.36,16.57,35.12
Gujarat Titans,12,12,2101,1310,71,9.62,29.59,18.45,10,1,174,109,452,1350,64.26,34.50,4.63,18.45,35.74
Kolkata Knight Riders,14,14,2407,1576,110,9.16,21.88,14.33,10,6,184,134,629,1540,63.98,39.91,4.96,14.33,36.02
Lucknow Super Giants,14,14,2521,1566,71,9.66,35.51,22.06,10,2,216,123,553,1602,63.55,35.31,4.62,22.06,36.45
Mumbai Indians,14,14,2660,1611,85,9.91,31.29,18.95,10,2,217,136,559,1684,63.31,34.70,4.56,18.95,36.69
Punjab Kings,14,14,2612,1665,101,9.41,25.86,16.49,9,0,230,114,570,1604,61.41,34.23,4.84,16.49,38.59
Rajasthan Royals,15,15,2657,1783,96,8.94,27.68,18.57,9,0,220,109,593,1534,57.73,33.26,5.42,18.57,42.27
Royal Challengers Bengaluru,15,15,2820,1709,88,9.90,32.05,19.42,10,3,239,143,585,1814,64.33,34.23,4.47,19.42,35.67
Sunrisers Hyderabad,16,16,3016,1799,83,10.06,36.34,21.67,10,1,265,146,583,1936,64.19,32.41,4.38,21.67,35.81

In [4]:
bowling_stats.to_csv('bowling_stats.csv')

## Extras df

In [12]:
import pandas as pd
import numpy as np

# Load the dataset
file_path = r"C:\Users\mayur\Downloads\IPL 2024 data.xlsx"
ipl_data = pd.read_excel(file_path)


#dropping unneccesary column
ipl_data.drop(['other_player_dismissed','other_wicket_type'],axis=1,inplace=True)

ipl_data['player_dismissed']= ipl_data['player_dismissed'].fillna(np.nan,inplace=True)
ipl_data['wicket_type']= ipl_data['wicket_type'].fillna(np.nan,inplace=True)

# Ensure relevant columns are numeric
ipl_data['wides'] = pd.to_numeric(ipl_data['wides'], errors='coerce').fillna(0).astype(int)
ipl_data['legbyes'] = pd.to_numeric(ipl_data['legbyes'], errors='coerce').fillna(0).astype(int)
ipl_data['byes'] = pd.to_numeric(ipl_data['byes'], errors='coerce').fillna(0).astype(int)
ipl_data['noballs'] = pd.to_numeric(ipl_data['noballs'], errors='coerce').fillna(0).astype(int)
ipl_data['runs_off_bat'] = pd.to_numeric(ipl_data['runs_off_bat'], errors='coerce').fillna(0).astype(int)
ipl_data['extras'] = pd.to_numeric(ipl_data['extras'], errors='coerce').fillna(0).astype(int)

# Group data by bowling team
grouped_extras = ipl_data.groupby('bowling_team')

# Initialize an empty DataFrame for the extras statistics
extras_stats = pd.DataFrame()

# Calculate the required statistics for each team
extras_stats['Team'] = grouped_extras['bowling_team'].first()
extras_stats['Wides'] = grouped_extras['wides'].sum()
extras_stats['LegByes'] = grouped_extras['legbyes'].sum()
extras_stats['Byes'] = grouped_extras['byes'].sum()
extras_stats['NoBalls'] = grouped_extras['noballs'].sum()

# Calculate the number of each type of run (0s, 1s, 2s, 3s, 4s, 5s, 6s)
for run_value in range(7):
    extras_stats[f'{run_value}s'] = (ipl_data[ipl_data['runs_off_bat'] == run_value]
                                     .groupby('bowling_team').size().reindex(extras_stats['Team'], fill_value=0))

# Calculate the number of balls faced
extras_stats['BallsFaced'] = grouped_extras['ball'].count().reindex(extras_stats['Team'], fill_value=0)

# Calculate total runs conceded including extras
extras_stats['RunsOffBat'] = grouped_extras['runs_off_bat'].sum().reindex(extras_stats['Team'], fill_value=0)
extras_stats['TotalExtras'] = (grouped_extras['wides'].sum() + 
                               grouped_extras['legbyes'].sum() + 
                               grouped_extras['byes'].sum() + 
                               grouped_extras['noballs'].sum()).reindex(extras_stats['Team'], fill_value=0)
extras_stats['TotalRunsConceded'] = extras_stats['RunsOffBat'] + extras_stats['TotalExtras']

# Calculate total runs from individual counts to cross-check
extras_stats['CalculatedTotalRuns'] = (extras_stats['0s'] * 0 +
                                       extras_stats['1s'] * 1 +
                                       extras_stats['2s'] * 2 +
                                       extras_stats['3s'] * 3 +
                                       extras_stats['4s'] * 4 +
                                       extras_stats['5s'] * 5 +
                                       extras_stats['6s'] * 6 + 
                                       extras_stats['TotalExtras'])

# Fill any NaN values with 0
extras_stats.fillna(0, inplace=True)

# Display the extras_stats DataFrame to check for consistency
print(extras_stats)

                                                    Team  Wides  LegByes  \
bowling_team
Chennai Super Kings                  Chennai Super Kings     70       25
Delhi Capitals                            Delhi Capitals    100       33
Gujarat Titans                            Gujarat Titans     38       30
Kolkata Knight Riders              Kolkata Knight Riders     71       26
Lucknow Super Giants                Lucknow Super Giants     76       21
Mumbai Indians                            Mumbai Indians     91       29
Punjab Kings                                Punjab Kings     68       39
Rajasthan Royals                        Rajasthan Royals     90       22
Royal Challengers Bengaluru  Royal Challengers Bengaluru     87       27
Sunrisers Hyderabad                  Sunrisers Hyderabad     75       22

                             Byes  NoBalls   0s   1s   2s  3s   4s  5s   6s  \
bowling_team
Chennai Super Kings             9       12  611  611  106   0  184   0   87
Delhi Capitals                  9        9  648  610  100   3  232   0  144
Gujarat Titans                  4        2  489  485   88   2  174   2  109
Kolkata Knight Riders          10        6  586  452   84   0  163   0  125
Lucknow Super Giants            2       10  563  537   98   5  199   0  112
Mumbai Indians                  7       12  592  558   98   4  201   1  122
Punjab Kings                    5        3  599  593  102   7  216   0  100
Rajasthan Royals                6        3  580  638  106   1  196   0   92
Royal Challengers Bengaluru    11        5  592  537   88   4  205   0  130
Sunrisers Hyderabad             7        5  506  561   99   1  209   0  113

                             BallsFaced  RunsOffBat  TotalExtras  \
bowling_team
Chennai Super Kings                1599        2081          116
Delhi Capitals                     1737        2611          151
Gujarat Titans                     1349        2027           74
Kolkata Knight Riders              1410        2022          113
Lucknow Super Giants               1514        2216          109
Mumbai Indians                     1576        2307          139
Punjab Kings                       1617        2282          115
Rajasthan Royals                   1613        2189          121
Royal Challengers Bengaluru        1556        2325          130
Sunrisers Hyderabad                1489        2276          109

                             TotalRunsConceded  CalculatedTotalRuns
bowling_team
Chennai Super Kings                       2197                 2197
Delhi Capitals                            2762                 2762
Gujarat Titans                            2101                 2101
Kolkata Knight Riders                     2135                 2135
Lucknow Super Giants                      2325                 2325
Mumbai Indians                            2446                 2446
Punjab Kings                              2397                 2397
Rajasthan Royals                          2310                 2310
Royal Challengers Bengaluru               2455                 2455
Sunrisers Hyderabad                       2385                 2385

In [64]:
import pandas as pd

# Load the dataset
file_path = r"C:\Users\mayur\Downloads\IPL 2024 data.xlsx"
ipl_data = pd.read_excel(file_path)

# Ensure relevant columns are numeric
ipl_data['wides'] = pd.to_numeric(ipl_data['wides'], errors='coerce').fillna(0).astype(int)
ipl_data['legbyes'] = pd.to_numeric(ipl_data['legbyes'], errors='coerce').fillna(0).astype(int)
ipl_data['byes'] = pd.to_numeric(ipl_data['byes'], errors='coerce').fillna(0).astype(int)
ipl_data['noballs'] = pd.to_numeric(ipl_data['noballs'], errors='coerce').fillna(0).astype(int)
ipl_data['runs_off_bat'] = pd.to_numeric(ipl_data['runs_off_bat'], errors='coerce').fillna(0).astype(int)
ipl_data['extras'] = pd.to_numeric(ipl_data['extras'], errors='coerce').fillna(0).astype(int)

# Define a function to calculate the total runs conceded, including extras
def calculate_total_runs(row):
    return row['runs_off_bat'] + row['wides'] + row['legbyes'] + row['byes'] + row['noballs']

# Apply the function to calculate total runs for each delivery
ipl_data['total_runs'] = ipl_data.apply(calculate_total_runs, axis=1)

# Group data by bowling team
grouped_extras = ipl_data.groupby('bowling_team')

# Initialize an empty DataFrame for the extras statistics
extras_stats = pd.DataFrame()

# Calculate the required statistics for each team
extras_stats['Team'] = grouped_extras['bowling_team'].first()
extras_stats['Wides'] = grouped_extras['wides'].sum()
extras_stats['LegByes'] = grouped_extras['legbyes'].sum()
extras_stats['Byes'] = grouped_extras['byes'].sum()
extras_stats['NoBalls'] = grouped_extras['noballs'].sum()

# Calculate the number of each type of run (0s, 1s, 2s, 3s, 4s, 5s, 6s)
for run_value in range(7):
    extras_stats[f'{run_value}s'] = (ipl_data[ipl_data['total_runs'] == run_value]
                                     .groupby('bowling_team').size().reindex(extras_stats['Team'], fill_value=0))

# Calculate total runs conceded including extras
extras_stats['RunsOffBat'] = grouped_extras['runs_off_bat'].sum().reindex(extras_stats['Team'], fill_value=0)
extras_stats['TotalExtras'] = (grouped_extras['wides'].sum() + 
                               grouped_extras['legbyes'].sum() + 
                               grouped_extras['byes'].sum() + 
                               grouped_extras['noballs'].sum()).reindex(extras_stats['Team'], fill_value=0)
extras_stats['TotalRunsConceded'] = grouped_extras['total_runs'].sum().reindex(extras_stats['Team'], fill_value=0)

# Calculate total runs from individual counts to cross-check
extras_stats['CalculatedTotalRuns'] = (extras_stats['0s'] * 0 +
                                       extras_stats['1s'] * 1 +
                                       extras_stats['2s'] * 2 +
                                       extras_stats['3s'] * 3 +
                                       extras_stats['4s'] * 4 +
                                       extras_stats['5s'] * 5 +
                                       extras_stats['6s'] * 6)

# Fill any NaN values with 0
extras_stats.fillna(0, inplace=True)

# Display the extras_stats DataFrame to check for consistency
print(extras_stats)

                                                    Team  Wides  LegByes  \
bowling_team
Chennai Super Kings                  Chennai Super Kings     77       26
Delhi Capitals                            Delhi Capitals    100       33
Gujarat Titans                            Gujarat Titans     38       30
Kolkata Knight Riders              Kolkata Knight Riders     82       28
Lucknow Super Giants                Lucknow Super Giants     86       21
Mumbai Indians                            Mumbai Indians    102       29
Punjab Kings                                Punjab Kings     78       45
Rajasthan Royals                        Rajasthan Royals     99       25
Royal Challengers Bengaluru  Royal Challengers Bengaluru    100       29
Sunrisers Hyderabad                  Sunrisers Hyderabad     89       39

                             Byes  NoBalls   0s   1s   2s  3s   4s  5s   6s  \
bowling_team
Chennai Super Kings             9       12  551  752  120   0  196   4  102
Delhi Capitals                  9        9  524  720  109   3  235   2  143
Gujarat Titans                  4        2  429  539   91   2  177   2  107
Kolkata Knight Riders          15        8  597  627  100   2  185   6  134
Lucknow Super Giants            2       11  527  655  110   8  216   4  123
Mumbai Indians                  7       12  525  708  109   3  219   6  133
Punjab Kings                    5        4  539  732  109   7  234   4  113
Rajasthan Royals                6        3  570  827  127   1  222   6  108
Royal Challengers Bengaluru    15        7  554  751  100   6  242   5  143
Sunrisers Hyderabad            11        7  552  792  125   1  271   2  145

                             RunsOffBat  TotalExtras  TotalRunsConceded  \
bowling_team
Chennai Super Kings                2291          124               2415
Delhi Capitals                     2611          151               2762
Gujarat Titans                     2027           74               2101
Kolkata Knight Riders              2274          133               2407
Lucknow Super Giants               2401          120               2521
Mumbai Indians                     2510          150               2660
Punjab Kings                       2480          132               2612
Rajasthan Royals                   2524          133               2657
Royal Challengers Bengaluru        2669          151               2820
Sunrisers Hyderabad                2870          146               3016

                             CalculatedTotalRuns
bowling_team
Chennai Super Kings                         2408
Delhi Capitals                              2755
Gujarat Titans                              2087
Kolkata Knight Riders                       2407
Lucknow Super Giants                        2521
Mumbai Indians                              2639
Punjab Kings                                2605
Rajasthan Royals                            2650
Royal Challengers Bengaluru                 2820
Sunrisers Hyderabad                         3009

In [15]:
extras_stats

,Team,Wides,LegByes,Byes,NoBalls,0s,1s,2s,3s,4s,5s,6s,RunsOffBat,TotalExtras,TotalRunsConceded,CalculatedTotalRuns
bowling_team,,,,,,,,,,,,,,,,
Chennai Super Kings,Chennai Super Kings,70,25,9,12,514,698,114,0,182,4,86,2081,116,2197,2190
Delhi Capitals,Delhi Capitals,100,33,9,9,524,720,109,3,235,2,143,2611,151,2762,2755
Gujarat Titans,Gujarat Titans,38,30,4,2,429,539,91,2,177,2,107,2027,74,2101,2087
Kolkata Knight Riders,Kolkata Knight Riders,71,26,10,6,501,527,87,1,164,5,125,2022,113,2135,2135
Lucknow Super Giants,Lucknow Super Giants,76,21,2,10,480,609,102,8,199,4,112,2216,109,2325,2325
Mumbai Indians,Mumbai Indians,91,29,7,12,485,654,103,3,203,6,119,2307,139,2446,2425
Punjab Kings,Punjab Kings,68,39,5,3,507,677,104,7,219,3,100,2282,115,2397,2397
Rajasthan Royals,Rajasthan Royals,90,22,6,3,493,714,109,1,198,6,91,2189,121,2310,2303
Royal Challengers Bengaluru,Royal Challengers Bengaluru,87,27,11,5,489,628,94,4,208,3,130,2325,130,2455,2455
Sunrisers Hyderabad,Sunrisers Hyderabad,75,22,7,5,418,641,102,1,212,2,112,2276,109,2385,2378

## Phase wise batting df

In [3]:
def categorize_overs(overs):
    if overs < 6.0:
        return 'Power play'
    elif overs < 15.0:
        return 'Middle overs'
    else:
        return 'Death'

In [4]:
ipl_data['over_category'] = ipl_data["ball"].apply(categorize_overs)

In [5]:
#Overall runs
ipl_data['total_runs'] = ipl_data['runs_off_bat'] + ipl_data['extras']

In [6]:
matches = ipl_data.groupby(['batting_team','over_category'])['match_id'].nunique().reset_index()
matches.rename(columns = {'match_id':'Matches'}, inplace = True)
matches

                   batting_team over_category  Matches
0           Chennai Super Kings         Death       14
1           Chennai Super Kings  Middle overs       14
2           Chennai Super Kings    Power play       14
3                Delhi Capitals         Death       13
4                Delhi Capitals  Middle overs       14
5                Delhi Capitals    Power play       14
6                Gujarat Titans         Death       12
7                Gujarat Titans  Middle overs       12
8                Gujarat Titans    Power play       12
9         Kolkata Knight Riders         Death       12
10        Kolkata Knight Riders  Middle overs       14
11        Kolkata Knight Riders    Power play       14
12         Lucknow Super Giants         Death       14
13         Lucknow Super Giants  Middle overs       14
14         Lucknow Super Giants    Power play       14
15               Mumbai Indians         Death       14
16               Mumbai Indians  Middle overs       14
17               Mumbai Indians    Power play       14
18                 Punjab Kings         Death       14
19                 Punjab Kings  Middle overs       14
20                 Punjab Kings    Power play       14
21             Rajasthan Royals         Death       15
22             Rajasthan Royals  Middle overs       15
23             Rajasthan Royals    Power play       15
24  Royal Challengers Bengaluru         Death       14
25  Royal Challengers Bengaluru  Middle overs       15
26  Royal Challengers Bengaluru    Power play       15
27          Sunrisers Hyderabad         Death       15
28          Sunrisers Hyderabad  Middle overs       16
29          Sunrisers Hyderabad    Power play       16

In [7]:
dot_balls = ipl_data[(ipl_data['runs_off_bat'] == 0) & (ipl_data['wides'] == 0)].groupby(['batting_team','over_category'])['ball'].size().reset_index()
dot_balls.rename(columns = {'ball':'dotballs'}, inplace = True)
dot_balls

                   batting_team over_category  dotballs
0           Chennai Super Kings         Death       111
1           Chennai Super Kings  Middle overs       221
2           Chennai Super Kings    Power play       201
3                Delhi Capitals         Death       106
4                Delhi Capitals  Middle overs       236
5                Delhi Capitals    Power play       232
6                Gujarat Titans         Death       101
7                Gujarat Titans  Middle overs       188
8                Gujarat Titans    Power play       192
9         Kolkata Knight Riders         Death        83
10        Kolkata Knight Riders  Middle overs       224
11        Kolkata Knight Riders    Power play       231
12         Lucknow Super Giants         Death       123
13         Lucknow Super Giants  Middle overs       198
14         Lucknow Super Giants    Power play       236
15               Mumbai Indians         Death       110
16               Mumbai Indians  Middle overs       251
17               Mumbai Indians    Power play       242
18                 Punjab Kings         Death       111
19                 Punjab Kings  Middle overs       261
20                 Punjab Kings    Power play       223
21             Rajasthan Royals         Death       121
22             Rajasthan Royals  Middle overs       240
23             Rajasthan Royals    Power play       250
24  Royal Challengers Bengaluru         Death       113
25  Royal Challengers Bengaluru  Middle overs       233
26  Royal Challengers Bengaluru    Power play       225
27          Sunrisers Hyderabad         Death       124
28          Sunrisers Hyderabad  Middle overs       255
29          Sunrisers Hyderabad    Power play       224

In [8]:
runs=ipl_data.groupby(['batting_team','over_category'])['runs_off_bat'].sum().reset_index()
runs.rename(columns = {'runs_off_bat':'Runs'}, inplace = True)
runs

                   batting_team over_category  Runs
0           Chennai Super Kings         Death   700
1           Chennai Super Kings  Middle overs  1007
2           Chennai Super Kings    Power play   698
3                Delhi Capitals         Death   611
4                Delhi Capitals  Middle overs  1005
5                Delhi Capitals    Power play   849
6                Gujarat Titans         Death   544
7                Gujarat Titans  Middle overs   864
8                Gujarat Titans    Power play   526
9         Kolkata Knight Riders         Death   518
10        Kolkata Knight Riders  Middle overs  1114
11        Kolkata Knight Riders    Power play   849
12         Lucknow Super Giants         Death   621
13         Lucknow Super Giants  Middle overs  1069
14         Lucknow Super Giants    Power play   660
15               Mumbai Indians         Death   599
16               Mumbai Indians  Middle overs  1098
17               Mumbai Indians    Power play   725
18                 Punjab Kings         Death   620
19                 Punjab Kings  Middle overs  1036
20                 Punjab Kings    Power play   716
21             Rajasthan Royals         Death   687
22             Rajasthan Royals  Middle overs  1106
23             Rajasthan Royals    Power play   740
24  Royal Challengers Bengaluru         Death   764
25  Royal Challengers Bengaluru  Middle overs  1178
26  Royal Challengers Bengaluru    Power play   847
27          Sunrisers Hyderabad         Death   692
28          Sunrisers Hyderabad  Middle overs  1191
29          Sunrisers Hyderabad    Power play  1023

In [9]:
wickets=ipl_data[ipl_data['player_dismissed']!='np.nan'].groupby(['batting_team','over_category'])['player_dismissed'].sum().reset_index()
wickets.rename(columns = {'player_dismissed':'wickets'}, inplace = True)
wickets

                   batting_team over_category  wickets
0           Chennai Super Kings         Death       24
1           Chennai Super Kings  Middle overs       34
2           Chennai Super Kings    Power play       19
3                Delhi Capitals         Death       29
4                Delhi Capitals  Middle overs       37
5                Delhi Capitals    Power play       28
6                Gujarat Titans         Death       30
7                Gujarat Titans  Middle overs       33
8                Gujarat Titans    Power play       16
9         Kolkata Knight Riders         Death       27
10        Kolkata Knight Riders  Middle overs       28
11        Kolkata Knight Riders    Power play       21
12         Lucknow Super Giants         Death       24
13         Lucknow Super Giants  Middle overs       34
14         Lucknow Super Giants    Power play       26
15               Mumbai Indians         Death       36
16               Mumbai Indians  Middle overs       35
17               Mumbai Indians    Power play       25
18                 Punjab Kings         Death       28
19                 Punjab Kings  Middle overs       41
20                 Punjab Kings    Power play       23
21             Rajasthan Royals         Death       28
22             Rajasthan Royals  Middle overs       34
23             Rajasthan Royals    Power play       19
24  Royal Challengers Bengaluru         Death       38
25  Royal Challengers Bengaluru  Middle overs       40
26  Royal Challengers Bengaluru    Power play       21
27          Sunrisers Hyderabad         Death       33
28          Sunrisers Hyderabad  Middle overs       43
29          Sunrisers Hyderabad    Power play       29

In [10]:
fours=ipl_data[ipl_data['runs_off_bat']==4].groupby(['batting_team','over_category'])['runs_off_bat'].count().reset_index()
fours.rename(columns = {'runs_off_bat':'4s'}, inplace = True)
fours

                   batting_team over_category   4s
0           Chennai Super Kings         Death   50
1           Chennai Super Kings  Middle overs   68
2           Chennai Super Kings    Power play   91
3                Delhi Capitals         Death   45
4                Delhi Capitals  Middle overs   75
5                Delhi Capitals    Power play  109
6                Gujarat Titans         Death   55
7                Gujarat Titans  Middle overs   69
8                Gujarat Titans    Power play   59
9         Kolkata Knight Riders         Death   39
10        Kolkata Knight Riders  Middle overs   91
11        Kolkata Knight Riders    Power play  108
12         Lucknow Super Giants         Death   56
13         Lucknow Super Giants  Middle overs   73
14         Lucknow Super Giants    Power play   77
15               Mumbai Indians         Death   37
16               Mumbai Indians  Middle overs   95
17               Mumbai Indians    Power play   83
18                 Punjab Kings         Death   43
19                 Punjab Kings  Middle overs   68
20                 Punjab Kings    Power play  102
21             Rajasthan Royals         Death   53
22             Rajasthan Royals  Middle overs   74
23             Rajasthan Royals    Power play  109
24  Royal Challengers Bengaluru         Death   61
25  Royal Challengers Bengaluru  Middle overs   69
26  Royal Challengers Bengaluru    Power play   99
27          Sunrisers Hyderabad         Death   40
28          Sunrisers Hyderabad  Middle overs   64
29          Sunrisers Hyderabad    Power play  113

In [11]:
sixes=ipl_data[ipl_data['runs_off_bat']==6].groupby(['batting_team','over_category'])['runs_off_bat'].count().reset_index()
sixes.rename(columns = {'runs_off_bat':'6s'}, inplace = True)
sixes

                   batting_team over_category  6s
0           Chennai Super Kings         Death  48
1           Chennai Super Kings  Middle overs  41
2           Chennai Super Kings    Power play  18
3                Delhi Capitals         Death  39
4                Delhi Capitals  Middle overs  50
5                Delhi Capitals    Power play  46
6                Gujarat Titans         Death  24
7                Gujarat Titans  Middle overs  28
8                Gujarat Titans    Power play  16
9         Kolkata Knight Riders         Death  38
10        Kolkata Knight Riders  Middle overs  58
11        Kolkata Knight Riders    Power play  45
12         Lucknow Super Giants         Death  29
13         Lucknow Super Giants  Middle overs  47
14         Lucknow Super Giants    Power play  26
15               Mumbai Indians         Death  44
16               Mumbai Indians  Middle overs  51
17               Mumbai Indians    Power play  38
18                 Punjab Kings         Death  41
19                 Punjab Kings  Middle overs  58
20                 Punjab Kings    Power play  21
21             Rajasthan Royals         Death  42
22             Rajasthan Royals  Middle overs  51
23             Rajasthan Royals    Power play  19
24  Royal Challengers Bengaluru         Death  55
25  Royal Challengers Bengaluru  Middle overs  68
26  Royal Challengers Bengaluru    Power play  42
27          Sunrisers Hyderabad         Death  47
28          Sunrisers Hyderabad  Middle overs  72
29          Sunrisers Hyderabad    Power play  59

In [12]:
Balls=ipl_data[(ipl_data['noballs']==0) &(ipl_data['wides']==0)].groupby(['batting_team','over_category'])['extras'].count().reset_index()
Balls.rename(columns = {'extras':'Balls'}, inplace = True)
Balls

                   batting_team over_category  Balls
0           Chennai Super Kings         Death    388
1           Chennai Super Kings  Middle overs    756
2           Chennai Super Kings    Power play    504
3                Delhi Capitals         Death    353
4                Delhi Capitals  Middle overs    719
5                Delhi Capitals    Power play    504
6                Gujarat Titans         Death    325
7                Gujarat Titans  Middle overs    648
8                Gujarat Titans    Power play    432
9         Kolkata Knight Riders         Death    269
10        Kolkata Knight Riders  Middle overs    721
11        Kolkata Knight Riders    Power play    504
12         Lucknow Super Giants         Death    384
13         Lucknow Super Giants  Middle overs    756
14         Lucknow Super Giants    Power play    504
15               Mumbai Indians         Death    346
16               Mumbai Indians  Middle overs    756
17               Mumbai Indians    Power play    504
18                 Punjab Kings         Death    364
19                 Punjab Kings  Middle overs    756
20                 Punjab Kings    Power play    504
21             Rajasthan Royals         Death    397
22             Rajasthan Royals  Middle overs    810
23             Rajasthan Royals    Power play    540
24  Royal Challengers Bengaluru         Death    390
25  Royal Challengers Bengaluru  Middle overs    802
26  Royal Challengers Bengaluru    Power play    540
27          Sunrisers Hyderabad         Death    415
28          Sunrisers Hyderabad  Middle overs    832
29          Sunrisers Hyderabad    Power play    576

In [13]:
phase_batting_df=pd.merge(matches,runs, on=['batting_team','over_category'], how='outer')
phase_batting_df

                   batting_team over_category  Matches  Runs
0           Chennai Super Kings         Death       14   700
1           Chennai Super Kings  Middle overs       14  1007
2           Chennai Super Kings    Power play       14   698
3                Delhi Capitals         Death       13   611
4                Delhi Capitals  Middle overs       14  1005
5                Delhi Capitals    Power play       14   849
6                Gujarat Titans         Death       12   544
7                Gujarat Titans  Middle overs       12   864
8                Gujarat Titans    Power play       12   526
9         Kolkata Knight Riders         Death       12   518
10        Kolkata Knight Riders  Middle overs       14  1114
11        Kolkata Knight Riders    Power play       14   849
12         Lucknow Super Giants         Death       14   621
13         Lucknow Super Giants  Middle overs       14  1069
14         Lucknow Super Giants    Power play       14   660
15               Mumbai Indians         Death       14   599
16               Mumbai Indians  Middle overs       14  1098
17               Mumbai Indians    Power play       14   725
18                 Punjab Kings         Death       14   620
19                 Punjab Kings  Middle overs       14  1036
20                 Punjab Kings    Power play       14   716
21             Rajasthan Royals         Death       15   687
22             Rajasthan Royals  Middle overs       15  1106
23             Rajasthan Royals    Power play       15   740
24  Royal Challengers Bengaluru         Death       14   764
25  Royal Challengers Bengaluru  Middle overs       15  1178
26  Royal Challengers Bengaluru    Power play       15   847
27          Sunrisers Hyderabad         Death       15   692
28          Sunrisers Hyderabad  Middle overs       16  1191
29          Sunrisers Hyderabad    Power play       16  1023

In [14]:
phase_batting_df=pd.merge(phase_batting_df,Balls,on=['batting_team','over_category'], how='outer')
phase_batting_df=pd.merge(phase_batting_df,wickets,on=['batting_team','over_category'], how='outer')
phase_batting_df=pd.merge(phase_batting_df,fours,on=['batting_team','over_category'], how='outer')
phase_batting_df=pd.merge(phase_batting_df,sixes,on=['batting_team','over_category'], how='outer')
phase_batting_df=pd.merge(phase_batting_df,dot_balls,on=['batting_team','over_category'], how='outer')
phase_batting_df

,batting_team,over_category,Matches,Runs,Balls,wickets,4s,6s,dotballs
0,Chennai Super Kings,Death,14,700,388,24,50,48,111
1,Chennai Super Kings,Middle overs,14,1007,756,34,68,41,221
2,Chennai Super Kings,Power play,14,698,504,19,91,18,201
3,Delhi Capitals,Death,13,611,353,29,45,39,106
4,Delhi Capitals,Middle overs,14,1005,719,37,75,50,236
5,Delhi Capitals,Power play,14,849,504,28,109,46,232
6,Gujarat Titans,Death,12,544,325,30,55,24,101
7,Gujarat Titans,Middle overs,12,864,648,33,69,28,188
8,Gujarat Titans,Power play,12,526,432,16,59,16,192
9,Kolkata Knight Riders,Death,12,518,269,27,39,38,83
10,Kolkata Knight Riders,Middle overs,14,1114,721,28,91,58,224
11,Kolkata Knight Riders,Power play,14,849,504,21,108,45,231
12,Lucknow Super Giants,Death,14,621,384,24,56,29,123
13,Lucknow Super Giants,Middle overs,14,1069,756,34,73,47,198
14,Lucknow Super Giants,Power play,14,660,504,26,77,26,236
15,Mumbai Indians,Death,14,599,346,36,37,44,110
16,Mumbai Indians,Middle overs,14,1098,756,35,95,51,251
17,Mumbai Indians,Power play,14,725,504,25,83,38,242
18,Punjab Kings,Death,14,620,364,28,43,41,111
19,Punjab Kings,Middle overs,14,1036,756,41,68,58,261
20,Punjab Kings,Power play,14,716,504,23,102,21,223
21,Rajasthan Royals,Death,15,687,397,28,53,42,121
22,Rajasthan Royals,Middle overs,15,1106,810,34,74,51,240
23,Rajasthan Royals,Power play,15,740,540,19,109,19,250
24,Royal Challengers Bengaluru,Death,14,764,390,38,61,55,113
25,Royal Challengers Bengaluru,Middle overs,15,1178,802,40,69,68,233
26,Royal Challengers Bengaluru,Power play,15,847,540,21,99,42,225
27,Sunrisers Hyderabad,Death,15,692,415,33,40,47,124
28,Sunrisers Hyderabad,Middle overs,16,1191,832,43,64,72,255
29,Sunrisers Hyderabad,Power play,16,1023,576,29,113,59,224

In [15]:
phase_batting_df.insert(6,'Average',round(phase_batting_df['Runs']/phase_batting_df['wickets'],2))
phase_batting_df

,batting_team,over_category,Matches,Runs,Balls,wickets,Average,4s,6s,dotballs
0,Chennai Super Kings,Death,14,700,388,24,29.17,50,48,111
1,Chennai Super Kings,Middle overs,14,1007,756,34,29.62,68,41,221
2,Chennai Super Kings,Power play,14,698,504,19,36.74,91,18,201
3,Delhi Capitals,Death,13,611,353,29,21.07,45,39,106
4,Delhi Capitals,Middle overs,14,1005,719,37,27.16,75,50,236
5,Delhi Capitals,Power play,14,849,504,28,30.32,109,46,232
6,Gujarat Titans,Death,12,544,325,30,18.13,55,24,101
7,Gujarat Titans,Middle overs,12,864,648,33,26.18,69,28,188
8,Gujarat Titans,Power play,12,526,432,16,32.88,59,16,192
9,Kolkata Knight Riders,Death,12,518,269,27,19.19,39,38,83
10,Kolkata Knight Riders,Middle overs,14,1114,721,28,39.79,91,58,224
11,Kolkata Knight Riders,Power play,14,849,504,21,40.43,108,45,231
12,Lucknow Super Giants,Death,14,621,384,24,25.88,56,29,123
13,Lucknow Super Giants,Middle overs,14,1069,756,34,31.44,73,47,198
14,Lucknow Super Giants,Power play,14,660,504,26,25.38,77,26,236
15,Mumbai Indians,Death,14,599,346,36,16.64,37,44,110
16,Mumbai Indians,Middle overs,14,1098,756,35,31.37,95,51,251
17,Mumbai Indians,Power play,14,725,504,25,29.00,83,38,242
18,Punjab Kings,Death,14,620,364,28,22.14,43,41,111
19,Punjab Kings,Middle overs,14,1036,756,41,25.27,68,58,261
20,Punjab Kings,Power play,14,716,504,23,31.13,102,21,223
21,Rajasthan Royals,Death,15,687,397,28,24.54,53,42,121
22,Rajasthan Royals,Middle overs,15,1106,810,34,32.53,74,51,240
23,Rajasthan Royals,Power play,15,740,540,19,38.95,109,19,250
24,Royal Challengers Bengaluru,Death,14,764,390,38,20.11,61,55,113
25,Royal Challengers Bengaluru,Middle overs,15,1178,802,40,29.45,69,68,233
26,Royal Challengers Bengaluru,Power play,15,847,540,21,40.33,99,42,225
27,Sunrisers Hyderabad,Death,15,692,415,33,20.97,40,47,124
28,Sunrisers Hyderabad,Middle overs,16,1191,832,43,27.70,64,72,255
29,Sunrisers Hyderabad,Power play,16,1023,576,29,35.28,113,59,224

In [16]:
phase_batting_df.insert(7,'Strike rate',round(phase_batting_df['Runs']*100/phase_batting_df['Balls'],2))
phase_batting_df

,batting_team,over_category,Matches,Runs,Balls,wickets,Average,Strike rate,4s,6s,dotballs
0,Chennai Super Kings,Death,14,700,388,24,29.17,180.41,50,48,111
1,Chennai Super Kings,Middle overs,14,1007,756,34,29.62,133.20,68,41,221
2,Chennai Super Kings,Power play,14,698,504,19,36.74,138.49,91,18,201
3,Delhi Capitals,Death,13,611,353,29,21.07,173.09,45,39,106
4,Delhi Capitals,Middle overs,14,1005,719,37,27.16,139.78,75,50,236
5,Delhi Capitals,Power play,14,849,504,28,30.32,168.45,109,46,232
6,Gujarat Titans,Death,12,544,325,30,18.13,167.38,55,24,101
7,Gujarat Titans,Middle overs,12,864,648,33,26.18,133.33,69,28,188
8,Gujarat Titans,Power play,12,526,432,16,32.88,121.76,59,16,192
9,Kolkata Knight Riders,Death,12,518,269,27,19.19,192.57,39,38,83
10,Kolkata Knight Riders,Middle overs,14,1114,721,28,39.79,154.51,91,58,224
11,Kolkata Knight Riders,Power play,14,849,504,21,40.43,168.45,108,45,231
12,Lucknow Super Giants,Death,14,621,384,24,25.88,161.72,56,29,123
13,Lucknow Super Giants,Middle overs,14,1069,756,34,31.44,141.40,73,47,198
14,Lucknow Super Giants,Power play,14,660,504,26,25.38,130.95,77,26,236
15,Mumbai Indians,Death,14,599,346,36,16.64,173.12,37,44,110
16,Mumbai Indians,Middle overs,14,1098,756,35,31.37,145.24,95,51,251
17,Mumbai Indians,Power play,14,725,504,25,29.00,143.85,83,38,242
18,Punjab Kings,Death,14,620,364,28,22.14,170.33,43,41,111
19,Punjab Kings,Middle overs,14,1036,756,41,25.27,137.04,68,58,261
20,Punjab Kings,Power play,14,716,504,23,31.13,142.06,102,21,223
21,Rajasthan Royals,Death,15,687,397,28,24.54,173.05,53,42,121
22,Rajasthan Royals,Middle overs,15,1106,810,34,32.53,136.54,74,51,240
23,Rajasthan Royals,Power play,15,740,540,19,38.95,137.04,109,19,250
24,Royal Challengers Bengaluru,Death,14,764,390,38,20.11,195.90,61,55,113
25,Royal Challengers Bengaluru,Middle overs,15,1178,802,40,29.45,146.88,69,68,233
26,Royal Challengers Bengaluru,Power play,15,847,540,21,40.33,156.85,99,42,225
27,Sunrisers Hyderabad,Death,15,692,415,33,20.97,166.75,40,47,124
28,Sunrisers Hyderabad,Middle overs,16,1191,832,43,27.70,143.15,64,72,255
29,Sunrisers Hyderabad,Power play,16,1023,576,29,35.28,177.60,113,59,224

In [17]:
team_runs=ipl_data.groupby(['match_id','batting_team','over_category'])['total_runs'].sum().reset_index()
high_score = team_runs.loc[team_runs.groupby(['batting_team','over_category'])['total_runs'].idxmax()]
score_df=high_score[['batting_team','over_category','total_runs']]
score_df.rename(columns={'total_runs':'High score'},inplace=True)
score_df

C:\Users\mayur\AppData\Local\Temp\ipykernel_20200\2970777328.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score_df.rename(columns={'total_runs':'High score'},inplace=True)

                    batting_team over_category  High score
227          Chennai Super Kings         Death          75
169          Chennai Super Kings  Middle overs         101
38           Chennai Super Kings    Power play          69
233               Delhi Capitals         Death          97
91                Delhi Capitals  Middle overs         108
253               Delhi Capitals    Power play          92
138               Gujarat Titans         Death          75
349               Gujarat Titans  Middle overs         132
238               Gujarat Titans    Power play          67
12         Kolkata Knight Riders         Death          85
246        Kolkata Knight Riders  Middle overs         114
95         Kolkata Knight Riders    Power play          88
230         Lucknow Super Giants         Death          76
382         Lucknow Super Giants  Middle overs         110
374         Lucknow Super Giants    Power play          59
117               Mumbai Indians         Death          96
145               Mumbai Indians  Middle overs         116
44                Mumbai Indians    Power play          76
132                 Punjab Kings         Death          75
249                 Punjab Kings  Middle overs         108
250                 Punjab Kings    Power play          93
183             Rajasthan Royals         Death          79
109             Rajasthan Royals  Middle overs          98
185             Rajasthan Royals    Power play          76
390  Royal Challengers Bengaluru         Death          80
267  Royal Challengers Bengaluru  Middle overs         114
309  Royal Challengers Bengaluru    Power play          92
177          Sunrisers Hyderabad         Death          82
178          Sunrisers Hyderabad  Middle overs         129
208          Sunrisers Hyderabad    Power play         125

In [18]:
phase_batting_df=pd.merge(phase_batting_df,score_df,on=['batting_team','over_category'])
phase_batting_df

,batting_team,over_category,Matches,Runs,Balls,wickets,Average,Strike rate,4s,6s,dotballs,High score
0,Chennai Super Kings,Death,14,700,388,24,29.17,180.41,50,48,111,75
1,Chennai Super Kings,Middle overs,14,1007,756,34,29.62,133.20,68,41,221,101
2,Chennai Super Kings,Power play,14,698,504,19,36.74,138.49,91,18,201,69
3,Delhi Capitals,Death,13,611,353,29,21.07,173.09,45,39,106,97
4,Delhi Capitals,Middle overs,14,1005,719,37,27.16,139.78,75,50,236,108
5,Delhi Capitals,Power play,14,849,504,28,30.32,168.45,109,46,232,92
6,Gujarat Titans,Death,12,544,325,30,18.13,167.38,55,24,101,75
7,Gujarat Titans,Middle overs,12,864,648,33,26.18,133.33,69,28,188,132
8,Gujarat Titans,Power play,12,526,432,16,32.88,121.76,59,16,192,67
9,Kolkata Knight Riders,Death,12,518,269,27,19.19,192.57,39,38,83,85
10,Kolkata Knight Riders,Middle overs,14,1114,721,28,39.79,154.51,91,58,224,114
11,Kolkata Knight Riders,Power play,14,849,504,21,40.43,168.45,108,45,231,88
12,Lucknow Super Giants,Death,14,621,384,24,25.88,161.72,56,29,123,76
13,Lucknow Super Giants,Middle overs,14,1069,756,34,31.44,141.40,73,47,198,110
14,Lucknow Super Giants,Power play,14,660,504,26,25.38,130.95,77,26,236,59
15,Mumbai Indians,Death,14,599,346,36,16.64,173.12,37,44,110,96
16,Mumbai Indians,Middle overs,14,1098,756,35,31.37,145.24,95,51,251,116
17,Mumbai Indians,Power play,14,725,504,25,29.00,143.85,83,38,242,76
18,Punjab Kings,Death,14,620,364,28,22.14,170.33,43,41,111,75
19,Punjab Kings,Middle overs,14,1036,756,41,25.27,137.04,68,58,261,108
20,Punjab Kings,Power play,14,716,504,23,31.13,142.06,102,21,223,93
21,Rajasthan Royals,Death,15,687,397,28,24.54,173.05,53,42,121,79
22,Rajasthan Royals,Middle overs,15,1106,810,34,32.53,136.54,74,51,240,98
23,Rajasthan Royals,Power play,15,740,540,19,38.95,137.04,109,19,250,76
24,Royal Challengers Bengaluru,Death,14,764,390,38,20.11,195.90,61,55,113,80
25,Royal Challengers Bengaluru,Middle overs,15,1178,802,40,29.45,146.88,69,68,233,114
26,Royal Challengers Bengaluru,Power play,15,847,540,21,40.33,156.85,99,42,225,92
27,Sunrisers Hyderabad,Death,15,692,415,33,20.97,166.75,40,47,124,82
28,Sunrisers Hyderabad,Middle overs,16,1191,832,43,27.70,143.15,64,72,255,129
29,Sunrisers Hyderabad,Power play,16,1023,576,29,35.28,177.60,113,59,224,125

In [19]:
# Runs of Boundaries
phase_batting_df['RunsInBoundaries']=(phase_batting_df['4s']*4)+(phase_batting_df['6s']*6)
#BoundaryRuns%
phase_batting_df['BoundaryRuns%']=round(phase_batting_df['RunsInBoundaries']*100/phase_batting_df['Runs'],2)

#Dots%
phase_batting_df['Dots%']=round(phase_batting_df['dotballs']*100/phase_batting_df['Balls'],2)

#balls/boundary
num_boundaries=phase_batting_df['4s']+phase_batting_df['6s']
phase_batting_df['balls/boundary']=round(phase_batting_df['Balls']/num_boundaries,2)

#balls/dismissal
phase_batting_df['balls/dismissal']=round(phase_batting_df['Balls']/phase_batting_df['wickets'],2)

#StrikeRotation%
phase_batting_df['StrikeRotation%']= 100-phase_batting_df['BoundaryRuns%']

phase_batting_df

,batting_team,over_category,Matches,Runs,Balls,wickets,Average,Strike rate,4s,6s,dotballs,High score,RunsInBoundaries,BoundaryRuns%,Dots%,balls/boundary,balls/dismissal,StrikeRotation%
0,Chennai Super Kings,Death,14,700,388,24,29.17,180.41,50,48,111,75,488,69.71,28.61,3.96,16.17,30.29
1,Chennai Super Kings,Middle overs,14,1007,756,34,29.62,133.20,68,41,221,101,518,51.44,29.23,6.94,22.24,48.56
2,Chennai Super Kings,Power play,14,698,504,19,36.74,138.49,91,18,201,69,472,67.62,39.88,4.62,26.53,32.38
3,Delhi Capitals,Death,13,611,353,29,21.07,173.09,45,39,106,97,414,67.76,30.03,4.20,12.17,32.24
4,Delhi Capitals,Middle overs,14,1005,719,37,27.16,139.78,75,50,236,108,600,59.70,32.82,5.75,19.43,40.30
5,Delhi Capitals,Power play,14,849,504,28,30.32,168.45,109,46,232,92,712,83.86,46.03,3.25,18.00,16.14
6,Gujarat Titans,Death,12,544,325,30,18.13,167.38,55,24,101,75,364,66.91,31.08,4.11,10.83,33.09
7,Gujarat Titans,Middle overs,12,864,648,33,26.18,133.33,69,28,188,132,444,51.39,29.01,6.68,19.64,48.61
8,Gujarat Titans,Power play,12,526,432,16,32.88,121.76,59,16,192,67,332,63.12,44.44,5.76,27.00,36.88
9,Kolkata Knight Riders,Death,12,518,269,27,19.19,192.57,39,38,83,85,384,74.13,30.86,3.49,9.96,25.87
10,Kolkata Knight Riders,Middle overs,14,1114,721,28,39.79,154.51,91,58,224,114,712,63.91,31.07,4.84,25.75,36.09
11,Kolkata Knight Riders,Power play,14,849,504,21,40.43,168.45,108,45,231,88,702,82.69,45.83,3.29,24.00,17.31
12,Lucknow Super Giants,Death,14,621,384,24,25.88,161.72,56,29,123,76,398,64.09,32.03,4.52,16.00,35.91
13,Lucknow Super Giants,Middle overs,14,1069,756,34,31.44,141.40,73,47,198,110,574,53.70,26.19,6.30,22.24,46.30
14,Lucknow Super Giants,Power play,14,660,504,26,25.38,130.95,77,26,236,59,464,70.30,46.83,4.89,19.38,29.70
15,Mumbai Indians,Death,14,599,346,36,16.64,173.12,37,44,110,96,412,68.78,31.79,4.27,9.61,31.22
16,Mumbai Indians,Middle overs,14,1098,756,35,31.37,145.24,95,51,251,116,686,62.48,33.20,5.18,21.60,37.52
17,Mumbai Indians,Power play,14,725,504,25,29.00,143.85,83,38,242,76,560,77.24,48.02,4.17,20.16,22.76
18,Punjab Kings,Death,14,620,364,28,22.14,170.33,43,41,111,75,418,67.42,30.49,4.33,13.00,32.58
19,Punjab Kings,Middle overs,14,1036,756,41,25.27,137.04,68,58,261,108,620,59.85,34.52,6.00,18.44,40.15
20,Punjab Kings,Power play,14,716,504,23,31.13,142.06,102,21,223,93,534,74.58,44.25,4.10,21.91,25.42
21,Rajasthan Royals,Death,15,687,397,28,24.54,173.05,53,42,121,79,464,67.54,30.48,4.18,14.18,32.46
22,Rajasthan Royals,Middle overs,15,1106,810,34,32.53,136.54,74,51,240,98,602,54.43,29.63,6.48,23.82,45.57
23,Rajasthan Royals,Power play,15,740,540,19,38.95,137.04,109,19,250,76,550,74.32,46.30,4.22,28.42,25.68
24,Royal Challengers Bengaluru,Death,14,764,390,38,20.11,195.90,61,55,113,80,574,75.13,28.97,3.36,10.26,24.87
25,Royal Challengers Bengaluru,Middle overs,15,1178,802,40,29.45,146.88,69,68,233,114,684,58.06,29.05,5.85,20.05,41.94
26,Royal Challengers Bengaluru,Power play,15,847,540,21,40.33,156.85,99,42,225,92,648,76.51,41.67,3.83,25.71,23.49
27,Sunrisers Hyderabad,Death,15,692,415,33,20.97,166.75,40,47,124,82,442,63.87,29.88,4.77,12.58,36.13
28,Sunrisers Hyderabad,Middle overs,16,1191,832,43,27.70,143.15,64,72,255,129,688,57.77,30.65,6.12,19.35,42.23
29,Sunrisers Hyderabad,Power play,16,1023,576,29,35.28,177.60,113,59,224,125,806,78.79,38.89,3.35,19.86,21.21

In [20]:
print(phase_batting_df)

                   batting_team over_category  Matches  Runs  Balls  wickets  \
0           Chennai Super Kings         Death       14   700    388       24
1           Chennai Super Kings  Middle overs       14  1007    756       34
2           Chennai Super Kings    Power play       14   698    504       19
3                Delhi Capitals         Death       13   611    353       29
4                Delhi Capitals  Middle overs       14  1005    719       37
5                Delhi Capitals    Power play       14   849    504       28
6                Gujarat Titans         Death       12   544    325       30
7                Gujarat Titans  Middle overs       12   864    648       33
8                Gujarat Titans    Power play       12   526    432       16
9         Kolkata Knight Riders         Death       12   518    269       27
10        Kolkata Knight Riders  Middle overs       14  1114    721       28
11        Kolkata Knight Riders    Power play       14   849    504       21
12         Lucknow Super Giants         Death       14   621    384       24
13         Lucknow Super Giants  Middle overs       14  1069    756       34
14         Lucknow Super Giants    Power play       14   660    504       26
15               Mumbai Indians         Death       14   599    346       36
16               Mumbai Indians  Middle overs       14  1098    756       35
17               Mumbai Indians    Power play       14   725    504       25
18                 Punjab Kings         Death       14   620    364       28
19                 Punjab Kings  Middle overs       14  1036    756       41
20                 Punjab Kings    Power play       14   716    504       23
21             Rajasthan Royals         Death       15   687    397       28
22             Rajasthan Royals  Middle overs       15  1106    810       34
23             Rajasthan Royals    Power play       15   740    540       19
24  Royal Challengers Bengaluru         Death       14   764    390       38
25  Royal Challengers Bengaluru  Middle overs       15  1178    802       40
26  Royal Challengers Bengaluru    Power play       15   847    540       21
27          Sunrisers Hyderabad         Death       15   692    415       33
28          Sunrisers Hyderabad  Middle overs       16  1191    832       43
29          Sunrisers Hyderabad    Power play       16  1023    576       29

    Average  Strike rate   4s  6s  dotballs  High score  RunsInBoundaries  \
0     29.17       180.41   50  48       111          75               488
1     29.62       133.20   68  41       221         101               518
2     36.74       138.49   91  18       201          69               472
3     21.07       173.09   45  39       106          97               414
4     27.16       139.78   75  50       236         108               600
5     30.32       168.45  109  46       232          92               712
6     18.13       167.38   55  24       101          75               364
7     26.18       133.33   69  28       188         132               444
8     32.88       121.76   59  16       192          67               332
9     19.19       192.57   39  38        83          85               384
10    39.79       154.51   91  58       224         114               712
11    40.43       168.45  108  45       231          88               702
12    25.88       161.72   56  29       123          76               398
13    31.44       141.40   73  47       198         110               574
14    25.38       130.95   77  26       236          59               464
15    16.64       173.12   37  44       110          96               412
16    31.37       145.24   95  51       251         116               686
17    29.00       143.85   83  38       242          76               560
18    22.14       170.33   43  41       111          75               418
19    25.27       137.04   68  58       261         108               620
20    31.13       142.06  102  21       223          93               534
21    24.54       173.05   53  42       121          79               464
22    32.53       136.54   74  51       240          98               602
23    38.95       137.04  109  19       250          76               550
24    20.11       195.90   61  55       113          80               574
25    29.45       146.88   69  68       233         114               684
26    40.33       156.85   99  42       225          92               648
27    20.97       166.75   40  47       124          82               442
28    27.70       143.15   64  72       255         129               688
29    35.28       177.60  113  59       224         125               806

    BoundaryRuns%  Dots%  balls/boundary  balls/dismissal  StrikeRotation%
0           69.71  28.61            3.96            16.17            30.29
1           51.44  29.23            6.94            22.24            48.56
2           67.62  39.88            4.62            26.53            32.38
3           67.76  30.03            4.20            12.17            32.24
4           59.70  32.82            5.75            19.43            40.30
5           83.86  46.03            3.25            18.00            16.14
6           66.91  31.08            4.11            10.83            33.09
7           51.39  29.01            6.68            19.64            48.61
8           63.12  44.44            5.76            27.00            36.88
9           74.13  30.86            3.49             9.96            25.87
10          63.91  31.07            4.84            25.75            36.09
11          82.69  45.83            3.29            24.00            17.31
12          64.09  32.03            4.52            16.00            35.91
13          53.70  26.19            6.30            22.24            46.30
14          70.30  46.83            4.89            19.38            29.70
15          68.78  31.79            4.27             9.61            31.22
16          62.48  33.20            5.18            21.60            37.52
17          77.24  48.02            4.17            20.16            22.76
18          67.42  30.49            4.33            13.00            32.58
19          59.85  34.52            6.00            18.44            40.15
20          74.58  44.25            4.10            21.91            25.42
21          67.54  30.48            4.18            14.18            32.46
22          54.43  29.63            6.48            23.82            45.57
23          74.32  46.30            4.22            28.42            25.68
24          75.13  28.97            3.36            10.26            24.87
25          58.06  29.05            5.85            20.05            41.94
26          76.51  41.67            3.83            25.71            23.49
27          63.87  29.88            4.77            12.58            36.13
28          57.77  30.65            6.12            19.35            42.23
29          78.79  38.89            3.35            19.86            21.21

In [21]:
phase_batting_df.to_csv('phasewise_batting_df.csv',index=False)

## Phase wise Bowling df

In [29]:
Matches=ipl_data.groupby(['bowling_team','over_category'])['match_id'].nunique().reset_index()
Matches.rename(columns = {'match_id':'Matches'}, inplace = True)
Matches

                   bowling_team over_category  Matches
0           Chennai Super Kings         Death       14
1           Chennai Super Kings  Middle overs       14
2           Chennai Super Kings    Power play       14
3                Delhi Capitals         Death       14
4                Delhi Capitals  Middle overs       14
5                Delhi Capitals    Power play       14
6                Gujarat Titans         Death       10
7                Gujarat Titans  Middle overs       12
8                Gujarat Titans    Power play       12
9         Kolkata Knight Riders         Death       14
10        Kolkata Knight Riders  Middle overs       14
11        Kolkata Knight Riders    Power play       14
12         Lucknow Super Giants         Death       13
13         Lucknow Super Giants  Middle overs       14
14         Lucknow Super Giants    Power play       14
15               Mumbai Indians         Death       14
16               Mumbai Indians  Middle overs       14
17               Mumbai Indians    Power play       14
18                 Punjab Kings         Death       14
19                 Punjab Kings  Middle overs       14
20                 Punjab Kings    Power play       14
21             Rajasthan Royals         Death       15
22             Rajasthan Royals  Middle overs       15
23             Rajasthan Royals    Power play       15
24  Royal Challengers Bengaluru         Death       15
25  Royal Challengers Bengaluru  Middle overs       15
26  Royal Challengers Bengaluru    Power play       15
27          Sunrisers Hyderabad         Death       14
28          Sunrisers Hyderabad  Middle overs       16
29          Sunrisers Hyderabad    Power play       16

In [30]:
Dots=ipl_data[(ipl_data['wides']==0) & (ipl_data['runs_off_bat']==0)].groupby(['bowling_team','over_category'])['ball'].count().reset_index()
Dots.rename(columns = {'ball':'dotballs'}, inplace = True)
Dots

                   bowling_team over_category  dotballs
0           Chennai Super Kings         Death       128
1           Chennai Super Kings  Middle overs       230
2           Chennai Super Kings    Power play       224
3                Delhi Capitals         Death       111
4                Delhi Capitals  Middle overs       230
5                Delhi Capitals    Power play       219
6                Gujarat Titans         Death        71
7                Gujarat Titans  Middle overs       187
8                Gujarat Titans    Power play       194
9         Kolkata Knight Riders         Death       126
10        Kolkata Knight Riders  Middle overs       281
11        Kolkata Knight Riders    Power play       222
12         Lucknow Super Giants         Death        96
13         Lucknow Super Giants  Middle overs       252
14         Lucknow Super Giants    Power play       205
15               Mumbai Indians         Death       111
16               Mumbai Indians  Middle overs       205
17               Mumbai Indians    Power play       243
18                 Punjab Kings         Death       121
19                 Punjab Kings  Middle overs       222
20                 Punjab Kings    Power play       227
21             Rajasthan Royals         Death       121
22             Rajasthan Royals  Middle overs       234
23             Rajasthan Royals    Power play       238
24  Royal Challengers Bengaluru         Death       124
25  Royal Challengers Bengaluru  Middle overs       233
26  Royal Challengers Bengaluru    Power play       228
27          Sunrisers Hyderabad         Death        94
28          Sunrisers Hyderabad  Middle overs       233
29          Sunrisers Hyderabad    Power play       256

In [31]:
Runs_conceeded=ipl_data.groupby(['bowling_team','over_category'])['total_runs'].sum().reset_index()
Runs_conceeded.rename(columns = {'total_runs':'Runs_conceeded'}, inplace = True)
Runs_conceeded

                   bowling_team over_category  Runs_conceeded
0           Chennai Super Kings         Death             671
1           Chennai Super Kings  Middle overs            1007
2           Chennai Super Kings    Power play             737
3                Delhi Capitals         Death             788
4                Delhi Capitals  Middle overs            1078
5                Delhi Capitals    Power play             896
6                Gujarat Titans         Death             524
7                Gujarat Titans  Middle overs             891
8                Gujarat Titans    Power play             686
9         Kolkata Knight Riders         Death             526
10        Kolkata Knight Riders  Middle overs            1045
11        Kolkata Knight Riders    Power play             836
12         Lucknow Super Giants         Death             665
13         Lucknow Super Giants  Middle overs            1028
14         Lucknow Super Giants    Power play             828
15               Mumbai Indians         Death             648
16               Mumbai Indians  Middle overs            1241
17               Mumbai Indians    Power play             771
18                 Punjab Kings         Death             769
19                 Punjab Kings  Middle overs            1083
20                 Punjab Kings    Power play             760
21             Rajasthan Royals         Death             757
22             Rajasthan Royals  Middle overs            1138
23             Rajasthan Royals    Power play             762
24  Royal Challengers Bengaluru         Death             654
25  Royal Challengers Bengaluru  Middle overs            1287
26  Royal Challengers Bengaluru    Power play             879
27          Sunrisers Hyderabad         Death             782
28          Sunrisers Hyderabad  Middle overs            1324
29          Sunrisers Hyderabad    Power play             910

In [32]:
Balls_bowled=ipl_data[(ipl_data['noballs']==0) &(ipl_data['wides']==0)].groupby(['bowling_team','over_category'])['extras'].count().reset_index()
Balls_bowled.rename(columns = {'extras':'balls_bowled'}, inplace = True)
Balls_bowled

                   bowling_team over_category  balls_bowled
0           Chennai Super Kings         Death           380
1           Chennai Super Kings  Middle overs           756
2           Chennai Super Kings    Power play           504
3                Delhi Capitals         Death           380
4                Delhi Capitals  Middle overs           756
5                Delhi Capitals    Power play           504
6                Gujarat Titans         Death           275
7                Gujarat Titans  Middle overs           603
8                Gujarat Titans    Power play           432
9         Kolkata Knight Riders         Death           316
10        Kolkata Knight Riders  Middle overs           756
11        Kolkata Knight Riders    Power play           504
12         Lucknow Super Giants         Death           338
13         Lucknow Super Giants  Middle overs           724
14         Lucknow Super Giants    Power play           504
15               Mumbai Indians         Death           351
16               Mumbai Indians  Middle overs           756
17               Mumbai Indians    Power play           504
18                 Punjab Kings         Death           405
19                 Punjab Kings  Middle overs           756
20                 Punjab Kings    Power play           504
21             Rajasthan Royals         Death           433
22             Rajasthan Royals  Middle overs           810
23             Rajasthan Royals    Power play           540
24  Royal Challengers Bengaluru         Death           359
25  Royal Challengers Bengaluru  Middle overs           810
26  Royal Challengers Bengaluru    Power play           540
27          Sunrisers Hyderabad         Death           394
28          Sunrisers Hyderabad  Middle overs           829
29          Sunrisers Hyderabad    Power play           576

In [33]:
Wickets_taken=ipl_data[ipl_data['player_dismissed']!='np.nan'].groupby(['bowling_team','over_category'])['player_dismissed'].sum().reset_index()
Wickets_taken

                   bowling_team over_category  player_dismissed
0           Chennai Super Kings         Death                29
1           Chennai Super Kings  Middle overs                35
2           Chennai Super Kings    Power play                15
3                Delhi Capitals         Death                33
4                Delhi Capitals  Middle overs                41
5                Delhi Capitals    Power play                25
6                Gujarat Titans         Death                24
7                Gujarat Titans  Middle overs                24
8                Gujarat Titans    Power play                23
9         Kolkata Knight Riders         Death                31
10        Kolkata Knight Riders  Middle overs                51
11        Kolkata Knight Riders    Power play                28
12         Lucknow Super Giants         Death                21
13         Lucknow Super Giants  Middle overs                30
14         Lucknow Super Giants    Power play                20
15               Mumbai Indians         Death                32
16               Mumbai Indians  Middle overs                30
17               Mumbai Indians    Power play                23
18                 Punjab Kings         Death                48
19                 Punjab Kings  Middle overs                36
20                 Punjab Kings    Power play                17
21             Rajasthan Royals         Death                33
22             Rajasthan Royals  Middle overs                35
23             Rajasthan Royals    Power play                28
24  Royal Challengers Bengaluru         Death                24
25  Royal Challengers Bengaluru  Middle overs                40
26  Royal Challengers Bengaluru    Power play                24
27          Sunrisers Hyderabad         Death                22
28          Sunrisers Hyderabad  Middle overs                37
29          Sunrisers Hyderabad    Power play                24

In [34]:
Fours_conceeded=ipl_data[ipl_data['runs_off_bat']==4].groupby(['bowling_team','over_category'])['runs_off_bat'].count().reset_index()
Fours_conceeded.rename(columns = {'runs_off_bat':'fours_conceeded'}, inplace = True)
Fours_conceeded

                   bowling_team over_category  fours_conceeded
0           Chennai Super Kings         Death               51
1           Chennai Super Kings  Middle overs               64
2           Chennai Super Kings    Power play               83
3                Delhi Capitals         Death               48
4                Delhi Capitals  Middle overs               72
5                Delhi Capitals    Power play              112
6                Gujarat Titans         Death               28
7                Gujarat Titans  Middle overs               68
8                Gujarat Titans    Power play               78
9         Kolkata Knight Riders         Death               21
10        Kolkata Knight Riders  Middle overs               69
11        Kolkata Knight Riders    Power play               94
12         Lucknow Super Giants         Death               43
13         Lucknow Super Giants  Middle overs               75
14         Lucknow Super Giants    Power play               98
15               Mumbai Indians         Death               42
16               Mumbai Indians  Middle overs               76
17               Mumbai Indians    Power play               99
18                 Punjab Kings         Death               59
19                 Punjab Kings  Middle overs               76
20                 Punjab Kings    Power play               95
21             Rajasthan Royals         Death               57
22             Rajasthan Royals  Middle overs               74
23             Rajasthan Royals    Power play               89
24  Royal Challengers Bengaluru         Death               57
25  Royal Challengers Bengaluru  Middle overs               83
26  Royal Challengers Bengaluru    Power play               99
27          Sunrisers Hyderabad         Death               73
28          Sunrisers Hyderabad  Middle overs               89
29          Sunrisers Hyderabad    Power play              103

In [35]:
Sixes_conceeded=ipl_data[ipl_data['runs_off_bat']==6].groupby(['bowling_team','over_category'])['runs_off_bat'].count().reset_index()
Sixes_conceeded.rename(columns = {'runs_off_bat':'sixes_conceeded'}, inplace = True)
Sixes_conceeded

                   bowling_team over_category  sixes_conceeded
0           Chennai Super Kings         Death               34
1           Chennai Super Kings  Middle overs               37
2           Chennai Super Kings    Power play               32
3                Delhi Capitals         Death               57
4                Delhi Capitals  Middle overs               48
5                Delhi Capitals    Power play               39
6                Gujarat Titans         Death               38
7                Gujarat Titans  Middle overs               39
8                Gujarat Titans    Power play               32
9         Kolkata Knight Riders         Death               45
10        Kolkata Knight Riders  Middle overs               52
11        Kolkata Knight Riders    Power play               37
12         Lucknow Super Giants         Death               44
13         Lucknow Super Giants  Middle overs               47
14         Lucknow Super Giants    Power play               32
15               Mumbai Indians         Death               38
16               Mumbai Indians  Middle overs               69
17               Mumbai Indians    Power play               29
18                 Punjab Kings         Death               43
19                 Punjab Kings  Middle overs               45
20                 Punjab Kings    Power play               26
21             Rajasthan Royals         Death               38
22             Rajasthan Royals  Middle overs               46
23             Rajasthan Royals    Power play               25
24  Royal Challengers Bengaluru         Death               33
25  Royal Challengers Bengaluru  Middle overs               71
26  Royal Challengers Bengaluru    Power play               39
27          Sunrisers Hyderabad         Death               37
28          Sunrisers Hyderabad  Middle overs               70
29          Sunrisers Hyderabad    Power play               39

In [36]:
bowling_df = ipl_data[['bowling_team', 'match_id', 'innings', 'over_category', 'wicket_type']].copy()

# Filter out rows without a wicket
bowling_df = bowling_df[bowling_df['wicket_type'].notnull()]

# Group by team, phase, match, and innings to count wickets
wickets_df = bowling_df.groupby(['bowling_team', 'over_category', 'match_id', 'innings']).size().reset_index(name='Most_wickets')

# Find the maximum wickets taken by each team in each phase
max_wickets = wickets_df.groupby(['bowling_team', 'over_category'])['Most_wickets'].max().reset_index()
max_wickets

                   bowling_team over_category  Most_wickets
0           Chennai Super Kings         Death             5
1           Chennai Super Kings  Middle overs             6
2           Chennai Super Kings    Power play             3
3                Delhi Capitals         Death             5
4                Delhi Capitals  Middle overs             5
5                Delhi Capitals    Power play             4
6                Gujarat Titans         Death             6
7                Gujarat Titans  Middle overs             5
8                Gujarat Titans    Power play             4
9         Kolkata Knight Riders         Death             4
10        Kolkata Knight Riders  Middle overs             7
11        Kolkata Knight Riders    Power play             4
12         Lucknow Super Giants         Death             4
13         Lucknow Super Giants  Middle overs             6
14         Lucknow Super Giants    Power play             4
15               Mumbai Indians         Death             5
16               Mumbai Indians  Middle overs             4
17               Mumbai Indians    Power play             4
18                 Punjab Kings         Death             5
19                 Punjab Kings  Middle overs             5
20                 Punjab Kings    Power play             3
21             Rajasthan Royals         Death             5
22             Rajasthan Royals  Middle overs             4
23             Rajasthan Royals    Power play             4
24  Royal Challengers Bengaluru         Death             5
25  Royal Challengers Bengaluru  Middle overs             5
26  Royal Challengers Bengaluru    Power play             4
27          Sunrisers Hyderabad         Death             4
28          Sunrisers Hyderabad  Middle overs             6
29          Sunrisers Hyderabad    Power play             3

In [37]:
phase_bowling_df=pd.merge(Matches,Runs_conceeded, on=['bowling_team','over_category'], how='outer')
phase_bowling_df

                   bowling_team over_category  Matches  Runs_conceeded
0           Chennai Super Kings         Death       14             671
1           Chennai Super Kings  Middle overs       14            1007
2           Chennai Super Kings    Power play       14             737
3                Delhi Capitals         Death       14             788
4                Delhi Capitals  Middle overs       14            1078
5                Delhi Capitals    Power play       14             896
6                Gujarat Titans         Death       10             524
7                Gujarat Titans  Middle overs       12             891
8                Gujarat Titans    Power play       12             686
9         Kolkata Knight Riders         Death       14             526
10        Kolkata Knight Riders  Middle overs       14            1045
11        Kolkata Knight Riders    Power play       14             836
12         Lucknow Super Giants         Death       13             665
13         Lucknow Super Giants  Middle overs       14            1028
14         Lucknow Super Giants    Power play       14             828
15               Mumbai Indians         Death       14             648
16               Mumbai Indians  Middle overs       14            1241
17               Mumbai Indians    Power play       14             771
18                 Punjab Kings         Death       14             769
19                 Punjab Kings  Middle overs       14            1083
20                 Punjab Kings    Power play       14             760
21             Rajasthan Royals         Death       15             757
22             Rajasthan Royals  Middle overs       15            1138
23             Rajasthan Royals    Power play       15             762
24  Royal Challengers Bengaluru         Death       15             654
25  Royal Challengers Bengaluru  Middle overs       15            1287
26  Royal Challengers Bengaluru    Power play       15             879
27          Sunrisers Hyderabad         Death       14             782
28          Sunrisers Hyderabad  Middle overs       16            1324
29          Sunrisers Hyderabad    Power play       16             910

In [38]:
phase_bowling_df=pd.merge(phase_bowling_df,Balls_bowled,on=['bowling_team','over_category'], how='outer')
phase_bowling_df=pd.merge(phase_bowling_df,Wickets_taken,on=['bowling_team','over_category'], how='outer')
phase_bowling_df=pd.merge(phase_bowling_df,Dots,on=['bowling_team','over_category'], how='outer')
phase_bowling_df=pd.merge(phase_bowling_df,Fours_conceeded,on=['bowling_team','over_category'], how='outer')
phase_bowling_df=pd.merge(phase_bowling_df,Sixes_conceeded,on=['bowling_team','over_category'], how='outer')
phase_bowling_df=pd.merge(phase_bowling_df,max_wickets,on=['bowling_team','over_category'], how='outer')
phase_bowling_df

,bowling_team,over_category,Matches,Runs_conceeded,balls_bowled,player_dismissed,dotballs,fours_conceeded,sixes_conceeded,Most_wickets
0,Chennai Super Kings,Death,14,671,380,29,128,51,34,5
1,Chennai Super Kings,Middle overs,14,1007,756,35,230,64,37,6
2,Chennai Super Kings,Power play,14,737,504,15,224,83,32,3
3,Delhi Capitals,Death,14,788,380,33,111,48,57,5
4,Delhi Capitals,Middle overs,14,1078,756,41,230,72,48,5
5,Delhi Capitals,Power play,14,896,504,25,219,112,39,4
6,Gujarat Titans,Death,10,524,275,24,71,28,38,6
7,Gujarat Titans,Middle overs,12,891,603,24,187,68,39,5
8,Gujarat Titans,Power play,12,686,432,23,194,78,32,4
9,Kolkata Knight Riders,Death,14,526,316,31,126,21,45,4
10,Kolkata Knight Riders,Middle overs,14,1045,756,51,281,69,52,7
11,Kolkata Knight Riders,Power play,14,836,504,28,222,94,37,4
12,Lucknow Super Giants,Death,13,665,338,21,96,43,44,4
13,Lucknow Super Giants,Middle overs,14,1028,724,30,252,75,47,6
14,Lucknow Super Giants,Power play,14,828,504,20,205,98,32,4
15,Mumbai Indians,Death,14,648,351,32,111,42,38,5
16,Mumbai Indians,Middle overs,14,1241,756,30,205,76,69,4
17,Mumbai Indians,Power play,14,771,504,23,243,99,29,4
18,Punjab Kings,Death,14,769,405,48,121,59,43,5
19,Punjab Kings,Middle overs,14,1083,756,36,222,76,45,5
20,Punjab Kings,Power play,14,760,504,17,227,95,26,3
21,Rajasthan Royals,Death,15,757,433,33,121,57,38,5
22,Rajasthan Royals,Middle overs,15,1138,810,35,234,74,46,4
23,Rajasthan Royals,Power play,15,762,540,28,238,89,25,4
24,Royal Challengers Bengaluru,Death,15,654,359,24,124,57,33,5
25,Royal Challengers Bengaluru,Middle overs,15,1287,810,40,233,83,71,5
26,Royal Challengers Bengaluru,Power play,15,879,540,24,228,99,39,4
27,Sunrisers Hyderabad,Death,14,782,394,22,94,73,37,4
28,Sunrisers Hyderabad,Middle overs,16,1324,829,37,233,89,70,6
29,Sunrisers Hyderabad,Power play,16,910,576,24,256,103,39,3

In [39]:
phase_bowling_df.insert(7,'Economy', round((phase_bowling_df['Runs_conceeded'] / phase_bowling_df['balls_bowled']) * 6,2))
phase_bowling_df

,bowling_team,over_category,Matches,Runs_conceeded,balls_bowled,player_dismissed,dotballs,Economy,fours_conceeded,sixes_conceeded,Most_wickets
0,Chennai Super Kings,Death,14,671,380,29,128,10.59,51,34,5
1,Chennai Super Kings,Middle overs,14,1007,756,35,230,7.99,64,37,6
2,Chennai Super Kings,Power play,14,737,504,15,224,8.77,83,32,3
3,Delhi Capitals,Death,14,788,380,33,111,12.44,48,57,5
4,Delhi Capitals,Middle overs,14,1078,756,41,230,8.56,72,48,5
5,Delhi Capitals,Power play,14,896,504,25,219,10.67,112,39,4
6,Gujarat Titans,Death,10,524,275,24,71,11.43,28,38,6
7,Gujarat Titans,Middle overs,12,891,603,24,187,8.87,68,39,5
8,Gujarat Titans,Power play,12,686,432,23,194,9.53,78,32,4
9,Kolkata Knight Riders,Death,14,526,316,31,126,9.99,21,45,4
10,Kolkata Knight Riders,Middle overs,14,1045,756,51,281,8.29,69,52,7
11,Kolkata Knight Riders,Power play,14,836,504,28,222,9.95,94,37,4
12,Lucknow Super Giants,Death,13,665,338,21,96,11.80,43,44,4
13,Lucknow Super Giants,Middle overs,14,1028,724,30,252,8.52,75,47,6
14,Lucknow Super Giants,Power play,14,828,504,20,205,9.86,98,32,4
15,Mumbai Indians,Death,14,648,351,32,111,11.08,42,38,5
16,Mumbai Indians,Middle overs,14,1241,756,30,205,9.85,76,69,4
17,Mumbai Indians,Power play,14,771,504,23,243,9.18,99,29,4
18,Punjab Kings,Death,14,769,405,48,121,11.39,59,43,5
19,Punjab Kings,Middle overs,14,1083,756,36,222,8.60,76,45,5
20,Punjab Kings,Power play,14,760,504,17,227,9.05,95,26,3
21,Rajasthan Royals,Death,15,757,433,33,121,10.49,57,38,5
22,Rajasthan Royals,Middle overs,15,1138,810,35,234,8.43,74,46,4
23,Rajasthan Royals,Power play,15,762,540,28,238,8.47,89,25,4
24,Royal Challengers Bengaluru,Death,15,654,359,24,124,10.93,57,33,5
25,Royal Challengers Bengaluru,Middle overs,15,1287,810,40,233,9.53,83,71,5
26,Royal Challengers Bengaluru,Power play,15,879,540,24,228,9.77,99,39,4
27,Sunrisers Hyderabad,Death,14,782,394,22,94,11.91,73,37,4
28,Sunrisers Hyderabad,Middle overs,16,1324,829,37,233,9.58,89,70,6
29,Sunrisers Hyderabad,Power play,16,910,576,24,256,9.48,103,39,3

In [40]:
phase_bowling_df.insert(8,'Average', round(phase_bowling_df['Runs_conceeded'] / phase_bowling_df['player_dismissed'],2))
phase_bowling_df

,bowling_team,over_category,Matches,Runs_conceeded,balls_bowled,player_dismissed,dotballs,Economy,Average,fours_conceeded,sixes_conceeded,Most_wickets
0,Chennai Super Kings,Death,14,671,380,29,128,10.59,23.14,51,34,5
1,Chennai Super Kings,Middle overs,14,1007,756,35,230,7.99,28.77,64,37,6
2,Chennai Super Kings,Power play,14,737,504,15,224,8.77,49.13,83,32,3
3,Delhi Capitals,Death,14,788,380,33,111,12.44,23.88,48,57,5
4,Delhi Capitals,Middle overs,14,1078,756,41,230,8.56,26.29,72,48,5
5,Delhi Capitals,Power play,14,896,504,25,219,10.67,35.84,112,39,4
6,Gujarat Titans,Death,10,524,275,24,71,11.43,21.83,28,38,6
7,Gujarat Titans,Middle overs,12,891,603,24,187,8.87,37.12,68,39,5
8,Gujarat Titans,Power play,12,686,432,23,194,9.53,29.83,78,32,4
9,Kolkata Knight Riders,Death,14,526,316,31,126,9.99,16.97,21,45,4
10,Kolkata Knight Riders,Middle overs,14,1045,756,51,281,8.29,20.49,69,52,7
11,Kolkata Knight Riders,Power play,14,836,504,28,222,9.95,29.86,94,37,4
12,Lucknow Super Giants,Death,13,665,338,21,96,11.80,31.67,43,44,4
13,Lucknow Super Giants,Middle overs,14,1028,724,30,252,8.52,34.27,75,47,6
14,Lucknow Super Giants,Power play,14,828,504,20,205,9.86,41.40,98,32,4
15,Mumbai Indians,Death,14,648,351,32,111,11.08,20.25,42,38,5
16,Mumbai Indians,Middle overs,14,1241,756,30,205,9.85,41.37,76,69,4
17,Mumbai Indians,Power play,14,771,504,23,243,9.18,33.52,99,29,4
18,Punjab Kings,Death,14,769,405,48,121,11.39,16.02,59,43,5
19,Punjab Kings,Middle overs,14,1083,756,36,222,8.60,30.08,76,45,5
20,Punjab Kings,Power play,14,760,504,17,227,9.05,44.71,95,26,3
21,Rajasthan Royals,Death,15,757,433,33,121,10.49,22.94,57,38,5
22,Rajasthan Royals,Middle overs,15,1138,810,35,234,8.43,32.51,74,46,4
23,Rajasthan Royals,Power play,15,762,540,28,238,8.47,27.21,89,25,4
24,Royal Challengers Bengaluru,Death,15,654,359,24,124,10.93,27.25,57,33,5
25,Royal Challengers Bengaluru,Middle overs,15,1287,810,40,233,9.53,32.17,83,71,5
26,Royal Challengers Bengaluru,Power play,15,879,540,24,228,9.77,36.62,99,39,4
27,Sunrisers Hyderabad,Death,14,782,394,22,94,11.91,35.55,73,37,4
28,Sunrisers Hyderabad,Middle overs,16,1324,829,37,233,9.58,35.78,89,70,6
29,Sunrisers Hyderabad,Power play,16,910,576,24,256,9.48,37.92,103,39,3

In [41]:
phase_bowling_df.insert(9,'StrikeRate', round(phase_bowling_df['balls_bowled'] / phase_bowling_df['player_dismissed'],2))
phase_bowling_df

,bowling_team,over_category,Matches,Runs_conceeded,balls_bowled,player_dismissed,dotballs,Economy,Average,StrikeRate,fours_conceeded,sixes_conceeded,Most_wickets
0,Chennai Super Kings,Death,14,671,380,29,128,10.59,23.14,13.10,51,34,5
1,Chennai Super Kings,Middle overs,14,1007,756,35,230,7.99,28.77,21.60,64,37,6
2,Chennai Super Kings,Power play,14,737,504,15,224,8.77,49.13,33.60,83,32,3
3,Delhi Capitals,Death,14,788,380,33,111,12.44,23.88,11.52,48,57,5
4,Delhi Capitals,Middle overs,14,1078,756,41,230,8.56,26.29,18.44,72,48,5
5,Delhi Capitals,Power play,14,896,504,25,219,10.67,35.84,20.16,112,39,4
6,Gujarat Titans,Death,10,524,275,24,71,11.43,21.83,11.46,28,38,6
7,Gujarat Titans,Middle overs,12,891,603,24,187,8.87,37.12,25.12,68,39,5
8,Gujarat Titans,Power play,12,686,432,23,194,9.53,29.83,18.78,78,32,4
9,Kolkata Knight Riders,Death,14,526,316,31,126,9.99,16.97,10.19,21,45,4
10,Kolkata Knight Riders,Middle overs,14,1045,756,51,281,8.29,20.49,14.82,69,52,7
11,Kolkata Knight Riders,Power play,14,836,504,28,222,9.95,29.86,18.00,94,37,4
12,Lucknow Super Giants,Death,13,665,338,21,96,11.80,31.67,16.10,43,44,4
13,Lucknow Super Giants,Middle overs,14,1028,724,30,252,8.52,34.27,24.13,75,47,6
14,Lucknow Super Giants,Power play,14,828,504,20,205,9.86,41.40,25.20,98,32,4
15,Mumbai Indians,Death,14,648,351,32,111,11.08,20.25,10.97,42,38,5
16,Mumbai Indians,Middle overs,14,1241,756,30,205,9.85,41.37,25.20,76,69,4
17,Mumbai Indians,Power play,14,771,504,23,243,9.18,33.52,21.91,99,29,4
18,Punjab Kings,Death,14,769,405,48,121,11.39,16.02,8.44,59,43,5
19,Punjab Kings,Middle overs,14,1083,756,36,222,8.60,30.08,21.00,76,45,5
20,Punjab Kings,Power play,14,760,504,17,227,9.05,44.71,29.65,95,26,3
21,Rajasthan Royals,Death,15,757,433,33,121,10.49,22.94,13.12,57,38,5
22,Rajasthan Royals,Middle overs,15,1138,810,35,234,8.43,32.51,23.14,74,46,4
23,Rajasthan Royals,Power play,15,762,540,28,238,8.47,27.21,19.29,89,25,4
24,Royal Challengers Bengaluru,Death,15,654,359,24,124,10.93,27.25,14.96,57,33,5
25,Royal Challengers Bengaluru,Middle overs,15,1287,810,40,233,9.53,32.17,20.25,83,71,5
26,Royal Challengers Bengaluru,Power play,15,879,540,24,228,9.77,36.62,22.50,99,39,4
27,Sunrisers Hyderabad,Death,14,782,394,22,94,11.91,35.55,17.91,73,37,4
28,Sunrisers Hyderabad,Middle overs,16,1324,829,37,233,9.58,35.78,22.41,89,70,6
29,Sunrisers Hyderabad,Power play,16,910,576,24,256,9.48,37.92,24.00,103,39,3

In [42]:
# Runs of Boundaries
phase_bowling_df['RunsInBoundaries']=(phase_bowling_df['fours_conceeded']*4)+(phase_bowling_df['sixes_conceeded']*6)
#BoundaryRuns%
phase_bowling_df['BoundaryRuns%']=round(phase_bowling_df['RunsInBoundaries']*100/phase_bowling_df['Runs_conceeded'],2)

#Dots%
phase_bowling_df['Dots%']=round(phase_bowling_df['dotballs']*100/phase_bowling_df['balls_bowled'],2)

#balls/boundary
num_boundaries=phase_bowling_df['fours_conceeded']+phase_bowling_df['sixes_conceeded']
phase_bowling_df['balls/boundary']=round(phase_bowling_df['balls_bowled']/num_boundaries,2)

#balls/dismissal
phase_bowling_df['balls/dismissal']=round(phase_bowling_df['balls_bowled']/phase_bowling_df['player_dismissed'],2)

#StrikeRotation%
phase_bowling_df['StrikeRotation%']= 100-phase_bowling_df['BoundaryRuns%']

phase_bowling_df

,bowling_team,over_category,Matches,Runs_conceeded,balls_bowled,player_dismissed,dotballs,Economy,Average,StrikeRate,fours_conceeded,sixes_conceeded,Most_wickets,RunsInBoundaries,BoundaryRuns%,Dots%,balls/boundary,balls/dismissal,StrikeRotation%
0,Chennai Super Kings,Death,14,671,380,29,128,10.59,23.14,13.10,51,34,5,408,60.80,33.68,4.47,13.10,39.20
1,Chennai Super Kings,Middle overs,14,1007,756,35,230,7.99,28.77,21.60,64,37,6,478,47.47,30.42,7.49,21.60,52.53
2,Chennai Super Kings,Power play,14,737,504,15,224,8.77,49.13,33.60,83,32,3,524,71.10,44.44,4.38,33.60,28.90
3,Delhi Capitals,Death,14,788,380,33,111,12.44,23.88,11.52,48,57,5,534,67.77,29.21,3.62,11.52,32.23
4,Delhi Capitals,Middle overs,14,1078,756,41,230,8.56,26.29,18.44,72,48,5,576,53.43,30.42,6.30,18.44,46.57
5,Delhi Capitals,Power play,14,896,504,25,219,10.67,35.84,20.16,112,39,4,682,76.12,43.45,3.34,20.16,23.88
6,Gujarat Titans,Death,10,524,275,24,71,11.43,21.83,11.46,28,38,6,340,64.89,25.82,4.17,11.46,35.11
7,Gujarat Titans,Middle overs,12,891,603,24,187,8.87,37.12,25.12,68,39,5,506,56.79,31.01,5.64,25.12,43.21
8,Gujarat Titans,Power play,12,686,432,23,194,9.53,29.83,18.78,78,32,4,504,73.47,44.91,3.93,18.78,26.53
9,Kolkata Knight Riders,Death,14,526,316,31,126,9.99,16.97,10.19,21,45,4,354,67.30,39.87,4.79,10.19,32.70
10,Kolkata Knight Riders,Middle overs,14,1045,756,51,281,8.29,20.49,14.82,69,52,7,588,56.27,37.17,6.25,14.82,43.73
11,Kolkata Knight Riders,Power play,14,836,504,28,222,9.95,29.86,18.00,94,37,4,598,71.53,44.05,3.85,18.00,28.47
12,Lucknow Super Giants,Death,13,665,338,21,96,11.80,31.67,16.10,43,44,4,436,65.56,28.40,3.89,16.10,34.44
13,Lucknow Super Giants,Middle overs,14,1028,724,30,252,8.52,34.27,24.13,75,47,6,582,56.61,34.81,5.93,24.13,43.39
14,Lucknow Super Giants,Power play,14,828,504,20,205,9.86,41.40,25.20,98,32,4,584,70.53,40.67,3.88,25.20,29.47
15,Mumbai Indians,Death,14,648,351,32,111,11.08,20.25,10.97,42,38,5,396,61.11,31.62,4.39,10.97,38.89
16,Mumbai Indians,Middle overs,14,1241,756,30,205,9.85,41.37,25.20,76,69,4,718,57.86,27.12,5.21,25.20,42.14
17,Mumbai Indians,Power play,14,771,504,23,243,9.18,33.52,21.91,99,29,4,570,73.93,48.21,3.94,21.91,26.07
18,Punjab Kings,Death,14,769,405,48,121,11.39,16.02,8.44,59,43,5,494,64.24,29.88,3.97,8.44,35.76
19,Punjab Kings,Middle overs,14,1083,756,36,222,8.60,30.08,21.00,76,45,5,574,53.00,29.37,6.25,21.00,47.00
20,Punjab Kings,Power play,14,760,504,17,227,9.05,44.71,29.65,95,26,3,536,70.53,45.04,4.17,29.65,29.47
21,Rajasthan Royals,Death,15,757,433,33,121,10.49,22.94,13.12,57,38,5,456,60.24,27.94,4.56,13.12,39.76
22,Rajasthan Royals,Middle overs,15,1138,810,35,234,8.43,32.51,23.14,74,46,4,572,50.26,28.89,6.75,23.14,49.74
23,Rajasthan Royals,Power play,15,762,540,28,238,8.47,27.21,19.29,89,25,4,506,66.40,44.07,4.74,19.29,33.60
24,Royal Challengers Bengaluru,Death,15,654,359,24,124,10.93,27.25,14.96,57,33,5,426,65.14,34.54,3.99,14.96,34.86
25,Royal Challengers Bengaluru,Middle overs,15,1287,810,40,233,9.53,32.17,20.25,83,71,5,758,58.90,28.77,5.26,20.25,41.10
26,Royal Challengers Bengaluru,Power play,15,879,540,24,228,9.77,36.62,22.50,99,39,4,630,71.67,42.22,3.91,22.50,28.33
27,Sunrisers Hyderabad,Death,14,782,394,22,94,11.91,35.55,17.91,73,37,4,514,65.73,23.86,3.58,17.91,34.27
28,Sunrisers Hyderabad,Middle overs,16,1324,829,37,233,9.58,35.78,22.41,89,70,6,776,58.61,28.11,5.21,22.41,41.39
29,Sunrisers Hyderabad,Power play,16,910,576,24,256,9.48,37.92,24.00,103,39,3,646,70.99,44.44,4.06,24.00,29.01

In [150]:
print(phase_bowling_df)

                   bowling_team over_category  Matches  Runs_conceeded  \
0           Chennai Super Kings         Death       14             671
1           Chennai Super Kings  Middle overs       14            1007
2           Chennai Super Kings    Power play       14             737
3                Delhi Capitals         Death       14             788
4                Delhi Capitals  Middle overs       14            1078
5                Delhi Capitals    Power play       14             896
6                Gujarat Titans         Death       10             524
7                Gujarat Titans  Middle overs       12             891
8                Gujarat Titans    Power play       12             686
9         Kolkata Knight Riders         Death       14             526
10        Kolkata Knight Riders  Middle overs       14            1045
11        Kolkata Knight Riders    Power play       14             836
12         Lucknow Super Giants         Death       13             665
13         Lucknow Super Giants  Middle overs       14            1028
14         Lucknow Super Giants    Power play       14             828
15               Mumbai Indians         Death       14             648
16               Mumbai Indians  Middle overs       14            1241
17               Mumbai Indians    Power play       14             771
18                 Punjab Kings         Death       14             769
19                 Punjab Kings  Middle overs       14            1083
20                 Punjab Kings    Power play       14             760
21             Rajasthan Royals         Death       15             757
22             Rajasthan Royals  Middle overs       15            1138
23             Rajasthan Royals    Power play       15             762
24  Royal Challengers Bengaluru         Death       15             654
25  Royal Challengers Bengaluru  Middle overs       15            1287
26  Royal Challengers Bengaluru    Power play       15             879
27          Sunrisers Hyderabad         Death       14             782
28          Sunrisers Hyderabad  Middle overs       16            1324
29          Sunrisers Hyderabad    Power play       16             910

    balls_bowled  player_dismissed  dotballs  Economy  Average  StrikeRate  \
0            380                29       128    10.59    23.14       13.10
1            756                35       230     7.99    28.77       21.60
2            504                15       224     8.77    49.13       33.60
3            380                33       111    12.44    23.88       11.52
4            756                41       230     8.56    26.29       18.44
5            504                25       219    10.67    35.84       20.16
6            275                24        71    11.43    21.83       11.46
7            603                24       187     8.87    37.12       25.12
8            432                23       194     9.53    29.83       18.78
9            316                31       126     9.99    16.97       10.19
10           756                51       281     8.29    20.49       14.82
11           504                28       222     9.95    29.86       18.00
12           338                21        96    11.80    31.67       16.10
13           724                30       252     8.52    34.27       24.13
14           504                20       205     9.86    41.40       25.20
15           351                32       111    11.08    20.25       10.97
16           756                30       205     9.85    41.37       25.20
17           504                23       243     9.18    33.52       21.91
18           405                48       121    11.39    16.02        8.44
19           756                36       222     8.60    30.08       21.00
20           504                17       227     9.05    44.71       29.65
21           433                33       121    10.49    22.94       13.12
22           810                35       234     8.43    32.51       23.14
23           540                28       238     8.47    27.21       19.29
24           359                24       124    10.93    27.25       14.96
25           810                40       233     9.53    32.17       20.25
26           540                24       228     9.77    36.62       22.50
27           394                22        94    11.91    35.55       17.91
28           829                37       233     9.58    35.78       22.41
29           576                24       256     9.48    37.92       24.00

    fours_conceeded  sixes_conceeded  Most_wickets  RunsInBoundaries  \
0                51               34             5               408
1                64               37             6               478
2                83               32             3               524
3                48               57             5               534
4                72               48             5               576
5               112               39             4               682
6                28               38             6               340
7                68               39             5               506
8                78               32             4               504
9                21               45             4               354
10               69               52             7               588
11               94               37             4               598
12               43               44             4               436
13               75               47             6               582
14               98               32             4               584
15               42               38             5               396
16               76               69             4               718
17               99               29             4               570
18               59               43             5               494
19               76               45             5               574
20               95               26             3               536
21               57               38             5               456
22               74               46             4               572
23               89               25             4               506
24               57               33             5               426
25               83               71             5               758
26               99               39             4               630
27               73               37             4               514
28               89               70             6               776
29              103               39             3               646

    BoundaryRuns%  Dots%  balls/boundary  balls/dismissal  StrikeRotation%
0           60.80  33.68            4.47            13.10            39.20
1           47.47  30.42            7.49            21.60            52.53
2           71.10  44.44            4.38            33.60            28.90
3           67.77  29.21            3.62            11.52            32.23
4           53.43  30.42            6.30            18.44            46.57
5           76.12  43.45            3.34            20.16            23.88
6           64.89  25.82            4.17            11.46            35.11
7           56.79  31.01            5.64            25.12            43.21
8           73.47  44.91            3.93            18.78            26.53
9           67.30  39.87            4.79            10.19            32.70
10          56.27  37.17            6.25            14.82            43.73
11          71.53  44.05            3.85            18.00            28.47
12          65.56  28.40            3.89            16.10            34.44
13          56.61  34.81            5.93            24.13            43.39
14          70.53  40.67            3.88            25.20            29.47
15          61.11  31.62            4.39            10.97            38.89
16          57.86  27.12            5.21            25.20            42.14
17          73.93  48.21            3.94            21.91            26.07
18          64.24  29.88            3.97             8.44            35.76
19          53.00  29.37            6.25            21.00            47.00
20          70.53  45.04            4.17            29.65            29.47
21          60.24  27.94            4.56            13.12            39.76
22          50.26  28.89            6.75            23.14            49.74
23          66.40  44.07            4.74            19.29            33.60
24          65.14  34.54            3.99            14.96            34.86
25          58.90  28.77            5.26            20.25            41.10
26          71.67  42.22            3.91            22.50            28.33
27          65.73  23.86            3.58            17.91            34.27
28          58.61  28.11            5.21            22.41            41.39
29          70.99  44.44            4.06            24.00            29.01

In [43]:
phase_bowling_df.to_csv('phasewise_bowling_df.csv',index=False)